/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * central stylesheet - layout example "flexible-grids"
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 */

/* Google Font API */
/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700|Droid+Sans:700);*/

/* import core styles | Basis-Stylesheets einbinden */

@import url(yaml/core/base.css);

/* import screen layout | Screen-Layout einbinden */
@import url(yaml/navigation/hlist.css);
@import url(yaml/forms/gray-theme.css);

@import url(yaml/screen/typography.css);
@import url(yaml/screen/screen-FULLPAGE-layout.css);

/* import print layout | Druck-Layout einbinden */
@import url(yaml/print/print.css);

body {font-family: Verdana, Geneva, sans-serif;
font-size:12px;}

.ym-wrapper {
	    max-width: 94%;
    margin: 0 auto;
}

.small {
	font-size:10px;}
	
.add_niezgodnosc:link {
	display:block;
	width: 104px;
	height:28px;
	background-image:url(../img/niezgodnosc.png);
	float:right;
	margin:4px;

	
}
.add_niezgodnosc:hover {
	display:block;
	width: 104px;
	height:28px;
	background-image:url(../img/niezgodnosc_active.png);
	
}

.add_zagrozenie:link {
	display:block;
	width: 104px;
	height:28px;
	background-image: url(../img/zagrozenie.png);
	float:right;
margin:4px;
	
}
.add_zagrozenie:hover {
	display:block;
	width: 104px;
	height:28px;
	background-image: url(../img/zagrozenie_active.png);
	
}

#login {
	float:right;
	position:absolute;
	top:5px;
	right:10px;
	color:#FFF;
}

#login a:link {
	font-weight:bold;
	text-decoration:none;
	color:#FFF;
}

.more {
	text-decoration:none;
	font-weight:bold;
	color: #333;
}




/*ZMIANY ORYGINALNYCH CSS - BASE.CSS*/

  .ym-form input,
  .ym-form textarea,
  .ym-form select {
	  width:99%
  }
  
  hr.komentarz { 
    color: #fff;
    background: transparent;
    margin: 0 50% 0.75em 0;
    padding: 0 0 0.67857em 0;
    border: 0;
    border-bottom: 1px #eeeeee dashed;
  }
  
  .kafel_1{
	  background: #E4E4E4;
	  width:150px;
	  height:100px;
	   font-weight:bold;
	  padding: 10px;
	  margin:5px;
	   border: 2px #eee solid;
border: 2px rgba(255,255,255,1) solid;
box-shadow: 0 0 3px rgba(0,0,0,.25);  
  }
  
  .kafel_2 a:link {
	  color:#FFF;
	  text-decoration:none;
	  font-weight:bold;
  }
  
    .kafel_2 a:visited{
	  color:#FFF;
	  text-decoration:none;
	  font-weight:bold;
  }
  
    .kafel_2 a:hover {
	  color:#FFF;
	  text-decoration:underline;
	  font-weight:bold;
	  background-color:#6699ff;
  }
  .kafel_2{
	  background: #6699ff;
	  color:#FFF;
	  font-weight:bold;
	  width:150px;
	  height:100px;
	  padding: 10px;
	   margin:5px;
	   border: 2px #6699ff solid;
border: 2px rgba(255,255,255,1) solid;
box-shadow: 0 0 3px rgba(0,0,0,.25);  
  }
  
  .kafel_1 a:link a:visited{
	  color:#6699ff;
	  text-decoration:none;
	  font-weight:bold;
  }
  
    .kafel_1 a:hover{
	  color:#6699ff;
	  text-decoration:underline;
	  font-weight:bold;
	  background: #E4E4E4;
  }
  
  .blok {
	  background-color:#FEFBF3;
	  padding:7px;
	  
	  
	  
	  
	border: 2px #6699ff solid;
border: 2px rgba(255,255,255,1) solid;
box-shadow: 0 0 3px rgba(0,0,0,.25);  
  }
  
  .blok_view{
	  display:block;
	  min-height:20px;
	  width:auto;
	  margin:5px;
	  padding:3px;
	  background-color: #F2F2F2;
	  color:#000;
	  line-height:150%;
	  	border: 2px #6699ff solid;
border: 1px #CCC solid;
box-shadow: 0 0 3px rgba(0,0,0,.25); 
  }
	  