<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/ZeroClipboard.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/TableTools.js"></script>
<style type="text/css" title="currentStyle">
    @import "/assets/css/TableTools.css";
    @import "/assets/css/demo_page.css";
    @import "/assets/css/demo_table.css";
</style>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var asInitVals = new Array();
           var oTable = $('#tabela').dataTable({
            "iDisplayLength": 25,
          //  "bJQueryUI": true,
            "aLengthMenu": [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "Wszystkie"]],
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "/assets/js/copy_csv_xls_pdf.swf"
            },
            "bStateSave": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sUrl": "/assets/js/datatables_PL.txt"
            }
        });

        $("tfoot input").keyup(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });



        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function(i) {
            asInitVals[i] = this.value;
        });

        $("tfoot input").focus(function() {
            if (this.className == "search_init")
            {
                this.className = "";
                this.value = "";
            }
        });

        $("tfoot input").blur(function(i) {
            if (this.value == "")
            {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
    });
</script> 
<script>
    function editform(id_pracownika) {
        //alert(id_pracownika);
        ladujfast('/apracownicy/getedycja/' + id_pracownika, 'dialog-form');
        $("#dialog-form").attr( "title" , "Edycja Pracownika");
        $("#dialog-form")
                .data('id_pracownika', id_pracownika)
                .dialog("open");
    }
    
    function addform() {
        //alert(id_pracownika);
         $("#dialog-form").attr( "title" , "Dodawanie Pracownika");
        ladujfast('/apracownicy/getedycja', 'dialog-form')
        $("#dialog-form")
                .dialog("open");
    }
    
    $(function() {
        $("#dialog-form").dialog({
            autoOpen: false,
            height: 430,
            width: 550,
            modal: true,
            buttons: {
                "Zapisz": function() {
                    var id_pracownika = $(this).data('id_pracownika');
                    var url;
                    
                    
                    if(id_pracownika) {
                       url='/apracownicy/update/'+id_pracownika;
                    }
                    else {
                        url='/apracownicy/dodaj';
                    }
                    
                    var thisform = $(this).find("form");
                    console.log(thisform);
                    wykformObj(thisform, url, 'komunikat');
                    $(this).dialog("close");
                    
                    setTimeout(function(){
                        ladujfast('/apracownicy/listaIn', 'main');
                    }, 1000);
                    
                },
                "Zamknij": function() {
                    $(this).dialog("close");
                }
            }
        });
        
});

</script>
<h2>Lista działów</h2>
<table style="margin-top:25px;" id="tabela" >
    <thead>
        <tr>
            <th style="min-width:20px;"> ID </th>
            <th> Nazwa działu </th>
            <th> Zakład</th>
            <th> Oznaczenie wydziału </th>
            <th> &nbsp; </th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$dzialy item=wydzial}
        <tr>
            <td> {$wydzial.id_wydzialu}  </td>
            <td >{$wydzial.dzial}</td>
            <td> {$wydzial.zaklad}</td>
            <td> {$wydzial.symbol_w}  </td>
            <td><button type="button" class="save ym-edit ym-primary" onclick="editform({$wydzial.id_wydzialu}">edit</button></td>
        </tr>
        {/foreach}
    </tbody>
</table>