<script src="/assets/js/ui/jquery.ui.autocomplete.min.js"></script>
<style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
</style>
<script>
    $(function() {
        $("#dzial_wykonawca").autocomplete({
            source: "/?controller=autocomplete&action=pracownicy",
            delay: 1,
            minLength: 2
            
        });
    });
</script>
<form class="ym-form">
<fieldset>
    <div class="ym-fbox">
        <div class="ym-g50 ym-gl">
	<label for="prac_name">Imie</label>
        <input type="text" name="pracownik[imie_p]" value="{$pracownik.imie_p}" id="prac_name"  />
        </div>
        <div class="ym-g50 ym-gr">
	<label for="prac_name2">Nazwisko</label>
	<input type="text" name="pracownik[nazwisko_p]" value="{$pracownik.nazwisko_p}"  id="prac_name2"  />
        </div>
   </div>
   <div class="ym-fbox ym-fbox-select">
	<label for="prac_rola">Rola</label>
	<select name="pracownik[rola]" id="prac_rola" size="1" aria-required="true">
	<option value="pracownik" {if $pracownik.rola eq 'pracownik'}selected="selected"{/if}>pracownik</option>
        <option value="kierownik" {if $pracownik.rola eq 'kierownik'}selected="selected"{/if}>kierownik</option>
        <option value="dyrektor" {if $pracownik.rola eq 'dyrektor'}selected="selected"{/if}>dyrektor</option>
        <option value="pelnomocnik" {if $pracownik.rola eq 'pelnomocnik'}selected="selected"{/if}>pełnomocnik</option>
        <option value="DSB" {if $pracownik.rola eq 'DSB'}selected="selected"{/if}>DSB</option>
        <option value="administrator" {if $pracownik.rola eq 'administrator'}selected="selected"{/if}>administrator</option>
	</select>
  </div>
  <div class="ym-fbox ym-fbox-select">
	<label for="prac_dzial">Dział</label>
        <select  id="prac_dzial"  name="pracownik[id_wydzialu]"  size="1" >
        <option value="0">Wybierz dział:</option>
            <optgroup label="Police">
                {foreach from=$dzialy item=row}
                {if $row.id_zakladu eq 1}<option value="{$row.id_wydzialu}" {if $pracownik.id_wydzialu eq $row.id_wydzialu}selected{/if}>{$row.dzial} - Police</option>{/if}
                {/foreach}
            </optgroup>
            <optgroup label="Kostrzyn">
                {foreach from=$dzialy item=row}
                {if $row.id_zakladu eq 2}<option value="{$row.id_wydzialu}" {if $pracownik.id_wydzialu eq $row.id_wydzialu}selected{/if}>{$row.dzial} - Kostrzyn</option>{/if}
                {/foreach}
            </optgroup>
        </select>
   </div>    
  <div class="ym-fbox ym-fbox-text">
	<label for="prac_mail">e-mail</label>
        <input type="text" name="pracownik[mail_p]" value="{$pracownik.mail_p}" id="prac_mail"  />
   </div>      
  <div class="ym-fbox">
        <div class="ym-g50 ym-gl">
	<label for="prac_login">Login</label>
        <input type="text" name="pracownik[login]" value="{$pracownik.login}" id="prac_login"  />
        </div>
        <div class="ym-g50 ym-gr">
	<label for="prac_pass">Hasło</label>
	<input type="text" name="pracownik[pass]"   id="prac_pass"  placeholder="Wpisz by zmienić" />
        </div>
   </div>
        
</fieldset>
</form>