<div style="text-align: center">
<h2 style="color:#FFF;">Witaj w systemie e-działania</h2>

<div class="ym-grid" >
<div class="ym-g50 ym-gl" align="right">
		<div class="ym-gbox">
			<a href="/sprawy/noweZagrozenie"class="kafel2" ><div  align="center"><br /><br /><span style="font-size:15px;">Zgłoś Zagrożenie </span><br /><span style="font-size:10px; line-height:140%;">(nie wymaga logowania)</span></div></a>
		</div>
	</div>
	<div class="ym-g50 ym-gr">
		<div class="ym-gbox">
		  <a href="/index/start"  class="kafel1"><div   align="center"><br /><br /><span style="font-size:15px;">Logowanie <br />do systemu</span></div></a>
		</div>
    </div>
  <center>
   <a href="http://polchar.pl"  target="_blank"><img src="/assets/img/logo_polchar_pion.jpg" alt="logo polchar" border="0px" width="120" hspace="10" vspace="10" style="margin-top:30px; border:17px solid #FFF;" />
  </a></center>
</div>