<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#dzial_czas").datepicker({
            minDate: -30,
            maxDate: 1
            //altField: "#altdzialanie_czas",
           // altFormat: "yy-mm-dd"
        });
    });
</script>
<script src="/assets/js/ui/jquery.ui.autocomplete.min.js"></script>
<style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
</style>
<script>
    $(function() {
        $("#dzial_wykonawca").autocomplete({
            source: "/?controller=autocomplete&action=pracownicy",
            delay: 1,
            minLength: 2
            
        });
    });
</script>
<script src="/assets/js/ui/jquery.ui.slider.min.js"></script>
<script>
       $(function() {
        $("#dzial_slider").slider({
            value: 10000,
            min: 0,
            max: 100000,
            step: 1000,
            slide: function(event, ui) {
                $("#dzial_budzet").val(ui.value);
            }
        });
        $("#dzial_budzet").val($("#dzial_slider").slider("value"));
        
    });
</script>


<form class="ym-form">
<fieldset>
    <label for="dzial_opis">Opis</label><br />
    <textarea  name="dzialanie[opis_dzialania]" id="dzial_opis" rows="9" cols="80" onkeyup="licz_znaki('5000', $(this).attr('id'), 'kr_bar', 'kr_info');"  maxlength="5000"   placeholder="Mleko zostało rozlane -  co zrobić by się nie rozlało">{$dzialanie.opis_dzialania}</textarea>
    <div id="kr_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
    <div id="kr_info" class="font11">Pozostało: 5000 znaków.</div>
    <br />
    <div class="ym-gbox" >
        <div class="ym-g33 ym-gl">
            <label for="dzial_wykonawca">Wykonawca</label>
            <input type="text" name="dzialanie[wykonawca]" id="dzial_wykonawca" value="{$dzialanie.wykonawca}" />
        </div>
        <div class="ym-g33 ym-gl">
            <label for="dzial_budzet">Budrzet</label>
            <input type="text" name="dzialanie[budzet]" id="dzial_budzet" value="{$dzialanie.budzet}"  />
            <div id="dzial_slider" style="width:80%; margin:2px;"></div>
        </div>
        <div class="ym-g33 ym-gl">
            <label for="dzial_czas">Realizacja do:</label>
            <input type="text" name="dzialanie[realizacja_do]" id="dzial_czas" placeholder="rrrr.mm.dd" value="{$dzialanie.realizacja_do|date_format:'%d.%m.%Y'}" /> 
        </div>
    </div>
</fieldset>
</form>