  <div class="ym-gbox" >
        <div class="ym-g33 ym-gl">

            <label for="data_zglosz">Data zgłoszenia </label>
            <input id="data_zglosz" readonly="readonly"   value="{$niezgodnosc.data_zgloszenia|date_format:'%d.%m.%Y'}" type="text" size="25"  style="width:98%" {if !$smarty.session.logged}readonly="readonly"{/if}/>
                   <input id="altdata_zglosz"  name="niezgodnosc[data_zgloszenia]" value="{$niezgodnosc.data_zgloszenia}" type="hidden" />
        </div><div class="ym-g33 ym-gl">
            <label for="id_pracownika">Zgłaszający</label>
            <input id="id_pracownika" readonly="readonly" type="text" size="25" value="{$smarty.session.pracownik.imie_p} {$smarty.session.pracownik.nazwisko_p}" style="width:98%"/>

        </div><div class="ym-g33 ym-gr">          
            <label for="numer">Numer zgłoszenia</label>
            <input id="numer" readonly="readonly" name="niezgodnosc[numer]" type="text" size="25" value="{$niezgodnosc.numer}" style="width:98%"/>
        </div>
        
    </div>