<div id="komentarze">{$komentarze1}</div>
            {if !$niezgodnosc.id_stanu or $niezgodnosc.id_stanu<30}
            <textarea id="komentarz"  name="komentarz" rows="4"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" title="Wprowadź komentarz" maxlength="5000"></textarea>
            <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
            <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj', 'komentarze', $('#komentarz').val());
            $('#komentarz').val('');">Dodaj komentarz</button>
            {/if}
