{foreach from=$komentarze item=kom}
<p><span style="komenterz_header"> <strong>{$kom.data_kom}</strong> <em>{$kom.imie_p|default:$smarty.session.pracownik.imie_p} {$kom.nazwisko_p|default:$smarty.session.pracownik.nazwisko_p} ({$kom.rola|default:$smarty.session.pracownik.rola})</em></span><br />
{$kom.komentarz}<hr /></p>

{/foreach}