<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/ZeroClipboard.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/js/TableTools.js"></script>
<style type="text/css" title="currentStyle">
    @import "/assets/css/TableTools.css";
    @import "/assets/css/demo_page.css";
    @import "/assets/css/demo_table.css";
</style>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var asInitVals = new Array();
           var oTable = $('#tabela').dataTable({
            "iDisplayLength": 25,
          //  "bJQueryUI": true,
            "aLengthMenu": [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "Wszystkie"]],
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "/assets/js/copy_csv_xls_pdf.swf"
            },
            "bStateSave": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sUrl": "/assets/js/datatables_PL.txt"
            }
        });

        $("tfoot input").keyup(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });



        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function(i) {
            asInitVals[i] = this.value;
        });

        $("tfoot input").focus(function() {
            if (this.className == "search_init")
            {
                this.className = "";
                this.value = "";
            }
        });

        $("tfoot input").blur(function(i) {
            if (this.value == "")
            {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
    });
</script> 
<table style="margin-top:25px;" id="tabela">
    <thead>
        <tr>
            <th> Nr.</th>
            <th> Typ </th>
            <th> Data zgłoszenia </th>
            <th> Zgłaszający </th>
            <th> Status </th>
            <th> Opis Zgłoszenia&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </th>
            <th> Dział </th>
            <th> Data zakończenia</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$sprawy item=sprawa}
        <tr onclick="location.href='/sprawa/show/{$sprawa.id_sprawy}'">
            <td> <a class="more" href>{$sprawa.numer}</a> </td>
             <td> {$sprawa.typ} </td>
            <td>{$sprawa.data_zgloszenia}</td>
            <td> {$sprawa.zglaszajacy} </td>
            <td> {$sprawa.stan}  </td>
            <td title="{$sprawa.opis}"> {$sprawa.opis|truncate:30}  </td>
            <td> {$sprawa.wydzial} ({$sprawa.zaklad})  </td>
            <td title="Ocena: {$sprawa.ocena}"> {$sprawa.data_realizacji}  </td>
        </tr>
        {/foreach}
    </tbody>
    <tfoot>
        <tr>
            <th rowspan="1" colspan="1"><input type="text" class="search_init"  value="szukaj numer" name="search_data" width="1"></th>
            <th rowspan="1" colspan="1">
                <input type="text" class="search_init" value="Wyszukaj typ" name="search_data">
            </th>
            <th rowspan="1" colspan="1">
                <input type="text" class="search_init" value="Wyszukaj date" name="search_data">
            </th>
            <th rowspan="1" colspan="1">
                <input type="text" class="search_init" value="zgłaszający" name="search_data">
            </th>
            <th rowspan="1" colspan="1">
                <input type="text" class="search_init" value="stan" name="search_data">
            </th>
            <th rowspan="1" colspan="1">
                <input type="text" class="search_init" value="opis" name="search_data">
            </th>
            <th rowspan="1" colspan="1">
                <input type="text" class="search_init" value="oddzial" name="search_data">
            </th>
            <th rowspan="1" colspan="1">
                <input type="text" class="search_init" value="termin" name="search_data">
            </th>
    </tfoot>
</table>

</form>