<script>
    function editform(id_dzialania, typ_dzialania) {
        ladujfast('/sprawa/getdzialanie/' + id_dzialania, 'dialog-form');
        $("#dialog-form")
                .data('typ', typ_dzialania)
                .data('id_dzialania', id_dzialania)
                .dialog("open");
    }

</script>

<table style="margin-top:25px;" id="tabela{$rand}" >
    <thead>
        <tr>
            <th> LP. </th>
            <th style="min-width:400px;"> Opis </th>
            <th> Wykonawca </th>
            <th> Budżet </th>
            <th> Planowana realizacja </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$dzialania item=dzialanie}
        <tr>
            <td>{$dzialanie@iteration}</td>
            <td title="{$dzialanie.opis_dzialania}"> {$dzialanie.opis_dzialania|truncate:300}  </td>
            <td>{$dzialanie.wykonawca}</td>
            <td> {$dzialanie.budzet} PLN</td>
            <td> {$dzialanie.realizacja_do}  </td>
            <td>{if $niezgodnosc.id_stanu eq 30 or !$niezgodnosc}<button type="button" class="save ym-edit ym-primary" onclick="editform({$dzialanie.id_dzialania}, {$dzialanie.typ_dzialania})">edit</button>{/if}</td>
        </tr>
        {/foreach}
    </tbody>
</table>
