<table style="margin-top:25px;" id="tabela{$rand}">
    <thead>
         <tr>
                <th> LP. </th>
                <th style="min-width:250px;"> Opis działania </th>
                <th> Szacowany  <br /> budżet </th>
                <th> Planowany <br />termin realizacji </th>
                <th style="min-width:250px;"> Opis realizacji </th>
                <th> Wykonany  <br /> budżet </th>
                <th> Faktyczny <br /> termin realizacji </th>
            </tr>
    </thead>
    <tbody>
        {foreach from=$dzialania item=dzialanie}
        <tr>
            <td> <a class="more" href>{$dzialanie@iteration}</a> </td>
              <td title="{$dzialanie.opis_dzialania}"> {$dzialanie.opis_dzialania|truncate:300}  </td>
            <td> {$dzialanie.budzet} </td>
            <td> {$dzialanie.realizacja_do}  </td>
            <td><textarea name="dzialania[{$dzialanie.id_dzialania}][opis_f]" rows="5" cols="70"  placeholder="Mleko zostało rozlane - jak je posprzątałem">{$dzialanie.opis_f}</textarea> </td>
                <td> <input type="text" size="10" name="dzialania[{$dzialanie.id_dzialania}][budzet_f]" id="bud{$dzialanie.id_dzialania}" value="{$dzialanie.budzet_f}" class="budzet" /> </td>
                <td> <input type="text" size="10" name="dzialania[{$dzialanie.id_dzialania}][czas_tmp]" id="czas{$dzialanie.id_dzialania}"  value="{$dzialanie.czas_f|date_format:'%d.%m.%Y'}" class="czas"/> </td> 
        </tr>
        {/foreach}
    </tbody>
</table>
