<link rel="stylesheet" type="text/css"  href="/assets/css/fineuploader-3.8.2.min.css" />
<script src="/assets/js/jquery.fineuploader-3.8.2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#fine-uploader').fineUploader({
            request: {
                endpoint: '/upload.php'
            },
            text: {
            uploadButton: 'Załącz plik klucz'
            }
        });
    });
</script>
<style>
    .qq-upload-button {
        width: 200px;
    }    
</style>

<h2 style="color:#FFF;">Aby korzystać z systemu musisz się zalogować</h2>

{if $error}<p class="box error">{$error}</p>{/if}

<div id="accordion-container">
    <form class="ym-form" action="{$adres}" method="POST">
        <div class="ym-fbox">
            <div class="ym-gbox-left ym-fbox-text">
                <label for="username">Użytkownik </label>
                <input id="username" type="text" size="25" name="username" />
            </div>
            <div class="ym-gbox ym-fbox-text">
                <label for="password">Hasło</label>
                <input id="password" type="password" size="25" name="password" />
            </div>
            <br><hr>
            
            <input type="submit" class="ym-button ym-primary" value="Zaloguj" id="submit"/>

        </div>

        <div class="ym-fbox-footer">
            <h4>Zamiast hasła użyj tajnego pliku</h4> 
            <div class="ym-gbox ym-fbox-text">
                <div id="fine-uploader"></div>
            </div>
            
        </div>
    </form>
</div>
