<div id="smoothmenu1" class="ddsmoothmenu">
    <ul>
        <li><a name="a" style=" color: #FFFFFF;">Pracownicy</a>
            <ul>
             <li><a href="/apracownicy/lista">Lista pracowników</a></li>
                <li><a href="/apracownicy/dodaj">Dodanie nowego pracownika</a></li>
                <!--<li><a href="/sprawy/moje">Zastępstwa</a></li>-->
            </ul>
        </li>
        <li><a name="a" style=" color: #FFFFFF;">Struktura organizacyjna</a>
            <ul>
            	<li><a href="/adzialy/lista">Lista Działów</a></li>
            	<li><a href="/adzialy/obszary">Lista Obszarów</a></li>
                <li><a href="/adzialy/zaklady">Lista Zakładów</a></li>
            </ul>
        </li>
    </ul>

    <br style="clear: left" />
</div>