
    <!--<span style="float:right;"><form class="ym-searchform">
            <input class="ym-searchfield" type="search" placeholder="Szukaj..." />
            <input class="ym-searchbutton" type="submit" value="Szukaj" />
        </form>
    </span>-->


    <br style="clear: left" />
</div>