<script>
    $(function() {
        $("#dialog-zgloszenie").dialog({
            autoOpen: false,
            height: 430,
            width: 550,
            modal: true,
            buttons: {
                "Zgłoś": function() {
                    var url = "/index/addproblem";
                    var thisform = $("#form-problem");
                    wykformObj(thisform, url, 'komunikat');
                    $(this).dialog("close");
                },
                "Zamknij": function() {
                    $(this).dialog("close");
                }
            }
        });

    });
</script>

<div id="smoothmenu1" class="ddsmoothmenu">
    <ul>

        <li><a name="a" ><span style="color:#cae2fb; font-weight:bold" >e-Działania</span></a>
            <ul>
                <li><a href="/sprawy/nowe">Nowe</a></li>
                <li><a href="/sprawy/przyjete">Przyjęte</a></li>
                <li><a href="/sprawy/wopracowaniu">W opracowaniu</a></li>
                <li><a href="/sprawy/sprawdzane">W sprawdzeniu</a></li>
                <li><a href="/sprawy/wakceptacji">W akceptacji</a></li>
                <li><a href="/sprawy/wrealizacji">W realizacji</a></li>
                <li><a href="/sprawy/oceniane">Oceniane</a></li>
                <li><a href="/sprawy/zakonczone">Zakończone</a></li>
                <li><a href="/sprawy/wszystkie">Lista wszystkich działań</a></li>

            </ul>
        </li>
        <li><a name="a" style=" color: #FFFFFF;">Zagrożenia</a>
            <ul>
                <li><a href="/sprawy/przyjete/3">Przyjęte</a></li>
                <li><a href="/sprawy/wopracowaniu/3">W opracowaniu</a></li>
                <li><a href="/sprawy/sprawdzane/3">W sprawdzeniu</a></li>
                <li><a href="/sprawy/wakceptacji/3">W akceptacji</a></li>
                <li><a href="/sprawy/wrealizacji/3">W realizacji</a></li>
                <li><a href="/sprawy/oceniane/3">Oceniane</a></li>
                <li><a href="/sprawy/zakonczone/3">Zakończone</a></li>
                <li><a href="/sprawy/wszystkie/3">Lista zagrożeń</a></li>

            </ul>
        </li>
        <li><a name="a" style=" color: #FFFFFF;">Niezgodności</a>
            <ul>
                <li><a href="/sprawy/przyjete/1">Przyjęte</a></li>
                <li><a href="/sprawy/wopracowaniu/1">W opracowaniu</a></li>
                <li><a href="/sprawy/sprawdzane/1">W sprawdzeniu</a></li>
                <li><a href="/sprawy/wakceptacji/1">W akceptacji</a></li>
                <li><a href="/sprawy/wrealizacji/1">W realizacji</a></li>
                <li><a href="/sprawy/oceniane/1">Oceniane</a></li>
                <li><a href="/sprawy/zakonczone/1">Zakończone</a></li>
                <li><a href="/sprawy/wszystkie/1">Lista niezgodności</a></li>


            </ul>
        </li>
        <li><a name="a" style=" color: #FFFFFF;">Potencjalne Niezgodności</a>
            <ul>
                <li><a href="/sprawy/przyjete/2">Przyjęte</a></li>
                <li><a href="/sprawy/wopracowaniu/2">W opracowaniu</a></li>
                <li><a href="/sprawy/sprawdzane/2">W sprawdzeniu</a></li>
                <li><a href="/sprawy/wakceptacji/2">W akceptacji</a></li>
                <li><a href="/sprawy/wrealizacji/2">W realizacji</a></li>
                <li><a href="/sprawy/oceniane/2">Oceniane</a></li>
                <li><a href="/sprawy/zakonczone/2">Zakończone</a></li>
                <li><a href="/sprawy/wszystkie/2">Lista niezgodności potencjalnych</a></li>
            </ul>
        </li>
        <li><a name="a" style=" color: #FFFFFF;">Moje Zgłoszenia</a>
            <ul>
                <li><a href="/sprawy/noweZagrozenie">Zgłoś nowe zagrożenie</a></li>
                <li><a href="/sprawy/nowaNiezgodnosc">Zgłoś nową niezgodność</a></li>
                <li><a href="/sprawy/nowaPNiezgodnosc">Zgłoś nową niezgodność potencjalną</a></li>
                <li><a href="/sprawy/moje">Lista zgłoszeń</a></li>
            </ul>
        </li>
        <li><a name="a" style=" color: #00FF7F;" onclick='$("#dialog-zgloszenie").dialog("open");'>Zgłoś Problem</a>
        </li>
    </ul>

    <br style="clear: left" />
</div>

<div id="dialog-zgloszenie" title="Zgłoś Problem">
    <form class="ym-form" id="form-problem">
        <fieldset>
            <div class="ym-fbox ym-fbox-select">
                <label for="z_rodzaj">Rodzaj problemu</label>
                <select name="zgloszenie[rodziaj]" id="z_rodzaj" size="1" aria-required="true">
                    <option value="obsluga">Problem z obsługa systemu</option>
                    <option value="system">Błąd systemowy (error)</option>
                    <option value="inny">Inny problem</option>
                </select>
            </div>
            <div class="ym-fbox ym-fbox-text">
                <label for="z_tytul">Tytuł problemu</label>
                <input type="text" name="zgloszenie[tytul]" id="z_tytul"  />
            </div>    
            <div class="ym-fbox ym-fbox-text">
                <label for="z_opis">Opis problemu</label>
                <textarea rows="7" cols="30" id="z_opis" name="zgloszenie[tresc]"></textarea>
            </div>
        </fieldset>
    </form>


</div>