<form class="ym-form" action="/sprawa/ocen/{$niezgodnosc.id_sprawy}" method="post">
    <div class="ym-grid">
        <div class="ym-g75 ym-gl">
            <label>Komentarze</label><br />
            <div id="komentarze4">{$komentarze4}</div>
            {if !$niezgodnosc.id_stanu or $niezgodnosc.id_stanu>=70}
            <textarea id="komentarz4"  name="komentarz" rows="4" cols="100"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" placeholder="Wprowadź komentarz"  maxlength="5000"></textarea>
            <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
            <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj/{$niezgodnosc.id_sprawy}/{$niezgodnosc.id_stanu}', 'komentarze4', $('#komentarz4').val());
                    $('#komentarz4').val('');">Dodaj komentarz</button>
            {/if}
        </div>
        <div class="ym-g25 ym-gr">
           <div class="ym-fbox-wrap" >
                <span class="ym-label"> Ocena: </span><br />
                {if $niezgodnosc.id_stanu<80}
                <input type="radio" name="niezgodnosc[id_oceny]"  id="your-id1" value="2" />
                <label for="your-id1">Skuteczne</label><br />
                <input type="radio" name="niezgodnosc[id_oceny]" id="your-id2" value="1" />
                <label for="your-id2">Częściowo skuteczne</label><br />
                <input type="radio" name="niezgodnosc[id_oceny]" id="your-id2" value="0" />
                <label for="your-id2">Nie skuteczne</label><br />
                <button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>
                {else}
                {$niezgodnosc.ocena} 
                {/if}
            </div>
        </div>

    </div>
</form>	 	