<script>
    $(function() {
        $("#dialog-form").dialog({
            autoOpen: false,
            height: 430,
            width: 550,
            modal: true,
            buttons: {
                "Zapisz": function() {
                    var typ = $(this).data('typ');
                    var id_dzialania = $(this).data('id_dzialania');
                    var div_dzialania;
                    var url;
                    if(typ=='1') div_dzialania='dzialanian';
                    else div_dzialania='dzialaniak';
                    
                    if(id_dzialania) {
                       url='/sprawa/updatedzialanie/'+id_dzialania;
                    }
                    else {
                        url='/sprawa/dodajdzialanie/{$niezgodnosc.id_sprawy}/'+typ;
                    }
                  
                    var thisform = $(this).find("form");
                    wykformObj(thisform, url, 'komunikat');
                    $(this).dialog("close");
                    setTimeout(function(){
                      wykonaj('/sprawa/getdzialania/{$niezgodnosc.id_sprawy}/'+typ, div_dzialania);
                    }, 1000);
                    
                },
                "Zamknij": function() {
                    $(this).dialog("close");
                }
            }
        });
        $("#adddzialanien").click(function() {
            ladujfast('/sprawa/getdzialanie', 'dialog-form');
            $("#dialog-form")
                    .data('typ', '1')
                    .dialog("open");
        });
        
        $("#adddzialaniek").click(function() {
            ladujfast('/sprawa/getdzialanie', 'dialog-form');
            $("#dialog-form")
                    .data('typ', '2')
                    .dialog("open");
        });
    });
</script>
<div class="ym-gbox ym-form">
    <b id="komunikat"></b><br>
    <label>Przewidziane działania naprawcze (likwidujące skutek niezgodności)  </label>
    <div id="dzialanian">
        {$dzialanian}
    </div>
    {if $niezgodnosc.id_stanu eq 30}
    <button type="button" class="save ym-save ym-primary" id="adddzialanien">Dodaj Działanie</button>
    <hr>
    {/if}
    <label >Przewidziane działania korygujące (likwidujące przyczyny niezgodności) <b id="komunikatk"></b></label>
    <div id="dzialaniak">
        {$dzialaniak}
    </div>
    {if $niezgodnosc.id_stanu eq 30}
    <button type="button" class="save ym-save ym-primary" id="adddzialaniek">Dodaj Działanie</button>
    <hr>
    {/if}

    
        {if $smarty.session.pracownik.rola eq 'kierownik' and $niezgodnosc.id_stanu eq 30}<form id="akceptacja" class="ym-form"><button type="button" class="save ym-save ym-success" id="submitd" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/dosprawdzenia'">Zapisz i wyślij do akceptacji</button></form> <hr />{/if}
        {if $smarty.session.pracownik.rola eq 'pelnomocnik'  and $niezgodnosc.id_stanu eq 40}<form id="akceptacja" class="ym-form"><button type="button" class="ym-delete ym-danger" id="poprawa" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/doopracowania'">Oznacz do poprawy</button>&nbsp;<button type="button" class="save ym-sign ym-primary" id="zatwierdz" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/doakceptacji'">Zatwierdź</button></form> <hr />{/if}
        {if $smarty.session.pracownik.rola eq 'dyrektor'  and $niezgodnosc.id_stanu eq 50}<form id="akceptacja" class="ym-form"><button type="button" class="ym-delete ym-danger" id="poprawa" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/doopracowania'">Oznacz do poprawy</button>&nbsp;<button type="button" class="save ym-sign ym-primary" id="zatwierdz" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/dorealizacji'">Zatwierdź</button></form> <hr />{/if}
    <label>Komentarze</label>
    <div id="komentarze2">{$komentarze2}</div>
    {if !$niezgodnosc.id_stanu or $niezgodnosc.id_stanu>=30 and $niezgodnosc.id_stanu<60}
    <textarea id="komentarz2"  name="komentarz" rows="4" cols="100"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" placeholder="Wprowadź komentarz"  maxlength="5000"></textarea>
    <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
    <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
    <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj/{$niezgodnosc.id_sprawy}/{$niezgodnosc.id_stanu}', 'komentarze2', $('#komentarz2').val());
        $('#komentarz2').val('');">Dodaj komentarz</button>
    {/if}





</div>
<div id="dialog-form" title="Działanie" style="z-index:-1;"></div>
