<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_zglosz").datepicker({
            minDate: -30,
            maxDate: 720,
            altField: "#altdata_zglosz",
            altFormat: "yy-mm-dd"
        });
        $('#fine-uploader').fineUploader({
            request: {
                endpoint: '/upload.php'
            },
            text: {
                uploadButton: 'Dodaj zalaczniki'
            }
        });
    });
</script>
<form class="ym-form" action="{$request_url}" method="POST">
    <div class="ym-gbox" >

        <div class="ym-g33 ym-gl">
            <label for="data_zglosz">Data zgłoszenia </label>
            <div class="blok_view">{$niezgodnosc.data_zgloszenia|date_format:'%d.%m.%Y'}</div>
        </div>
        <div class="ym-g33 ym-gl">
            <label for="id_pracownika">Zgłaszający</label>
            <div class="blok_view">{$niezgodnosc.zglaszajacy} </div>
        </div>
        <div class="ym-g33 ym-gr">
            <label for="numer">Numer zgłoszenia</label>
            <div class="blok_view">{$niezgodnosc.numer}</div>
        </div>
    </div>
    <div class="ym-gbox" >

        <label for="tytul">Tytuł</label>
        <div class="blok_view">{$niezgodnosc.tytul}</div>

        <br />
        <label>Dział w którym wystąpiła niezgodność</label>
        <div class="blok_view"> 
            {$niezgodnosc.wystapienie}
        </div>
        <br />
        <label for="your-id">Odpowiedzialny za podjęcie działań:</label>
        <div class="blok_view">{$niezgodnosc.wydzial} - {$niezgodnosc.zaklad} </div>


        <label for="kryterium">Wymagane kryterium</label>
        <div class="blok_view">{$niezgodnosc.kryterium}</div>



        <label for="opis"> Opis niezgodności</label>
        <div class="blok_view">{$niezgodnosc.opis}</div>

        <label for="dowod"> Dowód stwierdzenia niezgodności </label>
        <div class="blok_view">{$niezgodnosc.dowod}</div>
        <br />

        <label for="zalaczniki"> Załączniki: </label>
        <ul>
            {foreach from=$pliki1 item=plik}
            <li>
            {*ikonki*}
            {if $plik.mime eq 'application/msword'}<img src='http://icons.iconarchive.com/icons/benjigarner/softdimension/32/MS-Word-2-icon.png'>
            {elseif $plik.mime eq 'application/zip'}<img src='http://icons.iconarchive.com/icons/deleket/3d-cartoon/32/Zip-icon.png'>
            {elseif $plik.mime eq 'image/jpeg'}<img src='http://icons.iconarchive.com/icons/robsonbillponte/sinem/32/File-PNG-icon.png'>
            {elseif $plik.mime eq 'image/gif'}<img src='http://icons.iconarchive.com/icons/robsonbillponte/sinem/32/File-PNG-icon.png'>
            {elseif $plik.mime eq 'image/png'}<img src='http://icons.iconarchive.com/icons/robsonbillponte/sinem/32/File-PNG-icon.png'>
            {elseif $plik.mime eq 'application/pdf'}<img src='http://icons.iconarchive.com/icons/deleket/soft-scraps/32/Adobe-PDF-Document-icon.png'>
            {elseif $plik.mime eq 'application/octet-stream'}<img src='http://icons.iconarchive.com/icons/apathae/chakram-2/32/File-EXE-icon.png'>
            {else}<img src='http://icons.iconarchive.com/icons/gakuseisean/aire/32/Download-Folder-icon.png'>
            {/if}
            
            {if $plik.show}
            <a onclick="nowe_okno('/pliki/{$plik.katalog}{$plik.plik}');">{$plik.plik}</a>
            {else}
             <a class="zalacznik" href="/pliki/{$plik.katalog}{$plik.plik}">{$plik.plik}</a>
            {/if}
            </li>
            {/foreach}
        </ul>
        <hr/>
        <label>Komentarze:</label>
        {include file='komentarze.html'}


        <hr />
        <!--<span style="float:right;"><button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button></span>-->
        {if $niezgodnosc.id_stanu eq 10}
        <button type="button" class="save ym-save ym-primary" id="submit" name="przyjmij" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/przyjmij'">Przyjmij zgłoszenie</button>
        <button type="button" class="save ym-close ym-danger" id="submit2" name="odrzuc" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/odrzuc'">Odrzuć zgłoszenie</button>

        {else if !$niezgodnosc.id_stanu}
        <button type="submit" class="save ym-save ym-success" id="submit3">Zgłoś niezgodność</button>
        {/if}
        <br />
        <!--
        <label for="country">Uwagi</label>
        <textarea id="message" rows="7"  name="Uwagi"></textarea><hr />
        <p><strong> 12.05.2013 </strong><em>Jan Nowak </em> Zatwierdzenie z zastrzeżeniem..... </p>
        -->
    </div>
</form>