<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_zglosz").datepicker({
            minDate: -30,
            maxDate: 0,
            altField: "#altdata_zglosz",
            altFormat: "yy-mm-dd"
        });
        $('#fine-uploader').fineUploader({
            request: {
                endpoint: '/upload.php'
            },
            text: {
                uploadButton: 'Dodaj zalaczniki'
            }
        });
    });
</script>
<form class="ym-form" action="{$request_url}" method="POST">
		{include file='info_podstawowe.html'}
		<hr /><br />
    	{include file='tytul.html'}
        <br />
        <label>Dział w którym wystąpiła niezgodność</label>
        		{include file='obszar.html'}
       			 <br />
        <label for="your-id">Odpowiedzialny za podjęcie działań:</label>
        		{include file='odpowiedzialny.html'}
				<br />
        <label for="kryterium">Wymagane kryterium</label>
        <textarea  id="kryterium"  name="niezgodnosc[kryterium]" rows="5" onkeyup="licz_znaki('5000', $(this).attr('id'), 'kr_bar', 'kr_info');"  maxlength="5000">{$niezgodnosc.kryterium}</textarea>
        <div id="kr_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="kr_info" class="font11">Pozostało: 5000 znaków.</div>

<br />
        <label for="opis"> Opis niezgodności<sup class="ym-required">*</sup></label>
        <textarea id="opis"  name="niezgodnosc[opis]"  rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'op_bar', 'op_info');"  maxlength="5000"  required="required">{$niezgodnosc.opis}</textarea>
        <div id="op_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="op_info" class="font11">Pozostało: 5000 znaków.</div>
<br />
        <label for="dowod"> Dowód stwierdzenia niezgodności </label><textarea id="dowod"  name="niezgodnosc[dowod]" rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'dow_bar', 'dow_info');"  maxlength="5000">{$niezgodnosc.dowod}</textarea>
        <div id="dow_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="dow_info" class="font11">Pozostało: 5000 znaków.</div><br />
<br />
       
        <label for="zalaczniki"> Załączniki </label>
          	{include file='pliki.html'}

        <hr/>
        <label>Komentarze</label>
        {include file='komentarze.html'}
        <hr />
        <!--<span style="float:right;"><button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button></span>-->
        {if $niezgodnosc.id_stanu eq 10 and $smarty.session.pracownik.rola eq 'kierownik'}
        <button type="button" class="save ym-save ym-primary" id="submit" name="przyjmij" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/przyjmij'">Przyjmij zgłoszenie</button>
        <button type="button" class="save ym-close ym-danger" id="submit2" name="odrzuc" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/odrzuc'">Odrzuć zgłoszenie</button>

        {else if $niezgodnosc.id_stanu eq 20  and $smarty.session.pracownik.rola eq 'pelnomocnik'}
        <button type="submit" class="save ym-save ym-success" id="submit3" name='przydziel'>Zapisz i przydziel ponownie</button>

        {else if !$niezgodnosc.id_stanu}
        <button type="submit" class="save ym-save ym-success" id="submit3">Zgłoś niezgodność</button>
        {else if $smarty.session.pracownik.id_wydzialu eq $niezgodnosc.id_wydzialu or $smarty.session.pracownik.rola eq 'pelnomocnik'}
        <button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button>
        {/if}
        <br />

</form>