<select  id="miejsce"  name="niezgodnosc[id_wyst]"  size="1" >
        <option value="0">Wybierz dział:</option>
            <optgroup label="Police">
                {foreach from=$dzialy item=row}
                {if $row.id_zakladu eq 1}<option value="{$row.id_wydzial}" {if $niezgodnosc.id_wyst eq $row.id_wydzialu}selected{/if}>{$row.dzial} - Police</option>{/if}
                {/foreach}
            </optgroup>
            <optgroup label="Kostrzyn">
                {foreach from=$dzialy item=row}
                {if $row.id_zakladu eq 2}<option value="{$row.id_wydzial}" {if $niezgodnosc.id_wyst eq $row.id_wydzialu}selected{/if}>{$row.dzial} - Kostrzyn</option>{/if}
                {/foreach}
            </optgroup>
        </select>