<select name="niezgodnosc[id_wydzialu]" id="your-id" size="1">
        <option value="0">Wybierz osobę:</option>
            <optgroup label="Police">
                {foreach from=$kierownicy item=row}
                {if $row.id_zakladu eq 1}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wydzialu eq $row.id_wydzialu}selected{/if}>{$row.wydzial} </option>{/if}
                {/foreach}
            </optgroup>
            <optgroup label="Kostrzyń">
                {foreach from=$kierownicy item=row}
                {if $row.id_zakladu eq 2}<option value="{$row.id_wydzialu}">{$row.wydzial} </option>{/if}
                {/foreach}
            </optgroup>
 <optgroup label="Zakład">
                {foreach from=$kierownicy item=row}
                {if $row.id_zakladu eq 0}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wydzialu eq $row.id_wydzialu}selected{/if}>{$row.wydzial} </option>{/if}
                {/foreach}
            </optgroup>
        </select>