<form class="ym-form" action="{$request_url}" method="POST">
    <div class="ym-gbox" >
        <div class="ym-g33 ym-gl">
            <label for="data_zglosz">Data zgłoszenia </label>
            <div class="blok_view">{$niezgodnosc.data_zgloszenia|date_format:'%d.%m.%Y'}</div>
        </div>
        <div class="ym-g33 ym-gl">
            <label for="id_pracownika">Zgłaszający</label>
            <div class="blok_view">{$niezgodnosc.zglaszajacy}</div>
        </div>
        <div class="ym-g33 ym-gr">          
            <label for="numer">Numer zgłoszenia</label>
 			<div class="blok_view">{$niezgodnosc.numer}</div>
        </div>
        <hr>
    </div><br />
    <div class="ym-gbox" >
            <label for="tytul">Tytuł</label>
             <div class="blok_view">{$niezgodnosc.tytul}</div>
          <label>Dział w którym wystąpiła niezgodność potencjalna</label>
            <div class="blok_view">{$niezgodnosc.wystapienie}</div>
            <label for="kryterium">Wymagane kryterium</label>
			<div class="blok_view">{$niezgodnosc.kryterium}</div>
          <label for="opis"> Opis niezgodności potencjalnej</label>
			<div class="blok_view">{$niezgodnosc.opis}.</div>
          <label for="dowod"> Dowód stwierdzenia niezgodności potencjalnej</label>
            <div class="blok_view">{$niezgodnosc.dowod}</div><br />
            {if $niezgodnosc.id_stanu}
            {foreach from=$pliki1 item=plik}
          {$plik.plik}<br>
            {/foreach}
            {/if}
            <hr/>
            <label>Komentarze</label>
 {include file='komentarze.html'}
        <hr />
        <!--<span style="float:right;"><button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button></span>-->
        {if $niezgodnosc.id_stanu eq 10 and $smarty.session.pracownik.rola eq 'kierownik'}
        <button type="button" class="save ym-save ym-primary" id="submit" name="przyjmij" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/przyjmij'">Przyjmij zgłoszenie</button>
        <button type="button" class="save ym-close ym-danger" id="submit2" name="odrzuc" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/odrzuc'">Odrzuć zgłoszenie</button>
        {else if $niezgodnosc.id_stanu eq 20  and $smarty.session.pracownik.rola eq 'pelnomocnik'}
       <button type="submit" class="save ym-save ym-success" id="submit3" name='przydziel'>Zapisz i przydziel ponownie</button>
        {else if !$niezgodnosc.id_stanu}
        <button type="submit" class="save ym-save ym-success" id="submit3">Zgłoś niezgodność</button>
        {else if $smarty.session.pracownik.id_wydzialu eq $niezgodnosc.id_wydzialu or $smarty.session.pracownik.rola eq 'pelnomocnik'}
       <button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button>
        {/if}
        <br />
        </div>
    </form>