<link rel="stylesheet" type="text/css"  href="/assets/css/fineuploader-3.8.2.min.css" />
<script src="/assets/js/jquery.fineuploader-3.8.2.min.js"></script>
<style>
    .qq-upload-button {
        width: 200px;
    }    
</style>
<script src="/assets/js/ui/jquery.ui.datepicker.min.js"></script>
<script src="/assets/js/ui/jquery.ui.datepicker-pl.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/redmond/datepicker.custom.css" />
<script>
    $(function() {
        $("#accordion").accordion({
            heightStyle: "content",
            collapsible: true,
            active: {$active|default:0}
        });
    });
</script>
<div id="accordion">
    <h3 ><span title="{$niezgodnosc.opis|truncate:50}">Niezgodność potencjalna:&nbsp;&nbsp;<em>{$niezgodnosc.tytul}</em></span></h3>
    <div>{if !$niezgodnosc.id_stanu}{include file='p_niezgodnosc_1.html'}{else}{include file='p_niezgodnosc_view.html'}{/if}</div>
    <h3>Działania zapobiegawcze: {$niezgodnosc.numer} - {$niezgodnosc.tytul}</h3>
    <div>{if $krok>1}{include file='niezgodnosc_2_edit.html'}{/if}</div>
    <h3>Zrealizowane działania zapobiegawcze</h3>
    <div>{if $krok>2}{include file='p_niezgodnosc_3.html'}{/if}</div>
    <h3>Ocena skuteczności wykonanych działań </h3>
    <div>{if $krok>3}{include file='p_niezgodnosc_4.html'}{/if}</div>
</div>