<form class="ym-form" action="/sprawa/ocen/{$niezgodnosc.id_sprawy}" method="post">
    <div class="ym-grid">
        <div class="ym-g75 ym-gl">
            <div class="ym-gbox-left ym-fbox-text" >
                <label for="uwangi">Uwagi/Komentarze</label><br />
                <textarea id="uwangi" rows="7"  name="Uwagi" cols="120"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'kr_bar', 'kr_info');"  maxlength="5000">{$niezgodnosc4.komentarz}</textarea>				
                <div id="kr_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
                <div id="kr_info" class="font11">Pozostało: 5000 znaków.</div>	
            </div>
        </div>
        <div class="ym-g25 ym-gr">
            <div class="ym-fbox-wrap" >
                <span class="ym-label"> Ocena: </span><br />
                {if $niezgodnosc.id_stanu<80}
                <input type="radio" name="niezgodnosc[id_oceny]"  id="your-id1" value="2" />
                <label for="your-id1">Skuteczne</label><br />
                <input type="radio" name="niezgodnosc[id_oceny]" id="your-id2" value="1" />
                <label for="your-id2">Częściowo skuteczne</label><br />
                <input type="radio" name="niezgodnosc[id_oceny]" id="your-id2" value="0" />
                <label for="your-id2">Nie skuteczne</label><br />
                <button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>
                {else}
                {$niezgodnosc.ocena} 
                {/if}
            </div>
        </div>

    </div>
</form>