 {if $niezgodnosc.id_stanu}
{foreach from=$pliki1 item=plik}
        <a href="/pliki/{$plik.katalog}/{$plik.plik}">{$plik.plik}</a><br>
        {/foreach}
        {else}
        <div id="fine-uploader"></div>
        {/if}
