 <script>
$(function() {
$( ".radio" ).buttonset();
});
</script>
<style>
    .ui-button {
    display: inline-block !important;
    position: relative !important;
}
.ui-helper-hidden-accessible {
    border: 0 none !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
}
</style>
{if $error}<p class="box error">Przepraszamy, udzieliłeś błędnej odpowiedzi. Chyba nie znasz naszej firmy na tyle by dokonać zgłoszenia. System przeznaczony jest dla pracowników i firm wspolpracujących.</p>
{/if}
<form class="ym-form" action="{$adres}" method="POST">
    <div class="ym-gbox" >
        <p>Jeżeli chcesz nam zgłosić zagrożenie, odpowiedź na dwa proste pytania:</p>
        <div class="ym-fbox">
            <span class="ym-label">Wybierz imię naszego Szefa:</span>
             <div class="ym-fbox-wrap radio">
                
                    <input type="radio" name="imie" value="thomas" id="thomas"/>
                    <label for="thomas">Thomas</label>
              
                
                    <input type="radio" name="imie" value="mathias" id="mathias"/>
                    <label for="mathias">Mathias</label>
              
                    <input type="radio" name="imie" value="alex" id="alex"/>
                    <label for="alex">Alex</label>
             
            </div>
            <hr />
            <span class="ym-label">Nasz surowiec to:</span>
            <div class="ym-fbox-wrap radio">
           
                    <input type="radio" name="surowiec" value="kwarc" id="kwarc"/>
                    <label for="kwarc">Kwarc</label>
          
                    <input type="radio" name="surowiec" value="wegiel" id="wegiel"/>
                    <label for="wegiel">Węgiel</label>
            
                    <input type="radio" name="surowiec" value="dolomit" id="dolomit"/>
                    <label for="dolomit">Dolomit</label>
                
            </div>
        </div><br><hr><br>
        <button type="submit" class="save ym-save ym-success" value="submit">Sprawdź</button>
        <button type="reset" class="ym-button ym-warning ym-close"  value="reset">Powrót</button>
    </div></form>
