<div class="ym-grid" >
	<div class="ym-g30 ym-gl">
		<div class="ym-gbox">
            <a class="kafel2" href="/apracownik/nowy"><div >Nowy pracownik</div></a>
			<a class="kafel2" href="/apracownik/"><div >Lista pracowników</div></a>
			<!--<a class="kafel2" href="http://quality.barczyk.info/sprawy/wrealizacji"><div >Zastępstwa</div></a>-->
		</div>
	</div>
	<div class="ym-g30 ym-gl">
		<div class="ym-gbox">
			<a class="kafel2" href="/adzialy/lista"><div >Lista Działów</div></a>
			<a class="kafel2" href="/adzialy/za"><div >Lista Zakładów</div></a>
			 <a class="kafel2" href="http://quality.barczyk.info/sprawy/wocenie"><div >Lista Obszarów</div></a>
		</div>
  </div>
	
</div>