<div class="ym-grid" >
	<div class="ym-g30 ym-gl">
		<div class="ym-gbox">
			
            <a class="kafel2" href="http://quality.barczyk.info/sprawy/zgloszone"><div   >Zgłoszenia</div></a>
		  <h4>&nbsp;<br />&nbsp;<br />&nbsp;</h4>
			<a class="kafel1" href="http://quality.barczyk.info/sprawy/wopracowaniu"><div >W opracowaniu<hr />
<p class="info_case">nowe:<br />
wszystkie:</p></div></a>
			<a class="kafel1" href="http://quality.barczyk.info/sprawy/wrealizacji"><div >W realizacji<hr />
<p class="info_case">nowe:<br />
wszystkie:</p></div></a>
		</div>
	</div>
	<div class="ym-g30 ym-gl">
		<div class="ym-gbox">
			
			<a class="kafel2" href="http://quality.barczyk.info/sprawy/wszystkie"><div  >Biblioteka dzialań</div></a>
			<h4><center><br /><span style="color:#fff; text-transform: uppercase;" >Stany realizacji <br />zgłoszeń</span></center></h4>
			<a class="kafel1" href="http://quality.barczyk.info/sprawy/sprawdzane"><div >W sprawdzeniu<hr />
<p class="info_case">nowe:<br />
wszystkie:</p></div></a>
			 <a class="kafel1" href="http://quality.barczyk.info/sprawy/wocenie"><div >Oceniane<hr />
<p class="info_case">nowe:<br />
wszystkie:</p></div></a>
		</div>
  </div>
	<div class="ym-g30 ym-gl">
		<div class="ym-gbox">
			
			<a class="kafel2" href="http://quality.barczyk.info/sprawy/moje"><div  >Obserwowane</div></a>
			<h4>&nbsp;<br />&nbsp;<br />&nbsp;</h4>
			 <a class="kafel1" href="http://quality.barczyk.info/sprawy/wakceptacji"><div >W akceptacji<hr />
<p class="info_case">nowe:<br />
wszystkie:</p></div></a>
			<a class="kafel1" href="http://quality.barczyk.info/sprawy/zakonczone"><div >Zakończone<hr />
<p class="info_case">nowe:<br />
wszystkie:</p></div></a>
		</div>
	</div>
  </div>