		<label for="tytul"> <br />Tytuł<sup class="ym-required">*</sup></label>
        <input id="tytul" type="text"  name="niezgodnosc[tytul]" value="{$niezgodnosc.tytul}"  onkeyup="licz_znaki('150', $(this).attr('id'), 'kr_bar', 'kr_info');"  required="required"/>
        <div id="kr_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="kr_info" class="font11">Pozostało: 150 znaków.</div>