
<script type="text/javascript" src="/assets/js/messages_pl.js"></script>
<script>
    
    $(function() {
    $(".radio").buttonset();
  {if $smarty.session.logged}
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_zglosz").datepicker({
            minDate: -3,
            maxDate: 0,
            altField: "#altdata_zglosz",
            altFormat: "yy-mm-dd"
        });
  {/if}
                $('#fine-uploader').fineUploader({
            request: {
                endpoint: '/upload.php'
            },
            text: {
                uploadButton: 'Dodaj zalaczniki'
            }
        });
    });
</script>
<style>
    .ui-button {
        display: inline-block !important;
        position: relative !important;
    }
    .ui-helper-hidden-accessible {
        border: 0 none !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
    }
</style>
<form class="ym-form" action="{$request_url}" method="POST">
  		{include file='info_podstawowe.html'}
  		<hr /><br />
        {include file='tytul.html'}
        <br />
        <label for="miejsce">Obszar wystąpienia zagrożenia<sup class="ym-required">*</sup></label>
			{include file='obszar.html'}
        <br />

        <label for="lokalizacja">Szczegółowa lokalizacja<sup class="ym-required">*</sup></label>
        <textarea name="niezgodnosc[kryterium]" id="lokalizacja" rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'op_lok_bar', 'op_lok_info');"  maxlength="5000" {if !$smarty.session.logged}  required="required" {/if}>{$niezgodnosc.kryterium}</textarea>
        <div id="op_lok_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="op_lok_info" class="font11">Pozostało: 5000 znaków.</div>
 <br />
        <label for="opis">Opis zagrożenia<sup class="ym-required">*</sup></label>
        <textarea id="opis"  name="niezgodnosc[opis]"  rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'op_bar', 'op_info');"  maxlength="5000" {if !$smarty.session.logged}  required="required" {/if}>{$niezgodnosc.opis}</textarea>
        <div id="op_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="op_info" class="font11">Pozostało: 5000 znaków.</div>
        <br />
        <label>Czy zagrożenie zostało wstępnie zabezpieczone<sup class="ym-required">*</sup></label> 
        
        <div class="ym-fbox-wrap radio">
                
                    <input type="radio" name="niezgodnosc[zabezpieczone]" value="tak" id="tak" required="required"/>
                    <label for="tak">&nbsp;&nbsp;TAK&nbsp;&nbsp;</label>
                    <input type="radio" name="niezgodnosc[zabezpieczone]" value="nie" id="nie" required="required"/>
                    <label for="nie">&nbsp;&nbsp;NIE&nbsp;&nbsp;</label>
             
            </div>
<!--        <label for="czyzab">NIE</label>
        <input type="checkbox" id="czyzab" name="niezgodnosc[zabezpieczone]"/>-->
         <br />
        <label for="zabezpieczenie">Sposób zabezpieczenia</label>
        <textarea name="niezgodnosc[dowod]" id="zabezpieczenie" rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'op_zab_bar', 'op_zab_info');"  maxlength="5000">{$niezgodnosc.dowod}</textarea>
        <div id="op_zab_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="op_zab_info" class="font11">Pozostało: 5000 znaków.</div>

        <br />

      <!--  <label for="your-id">Odpowiedzialny za podjęcie działań:</label>
        <select name="niezgodnosc[id_wydzialu]" id="your-id" size="1">
        <option value="0">Wybierz z listy</option>
            <optgroup label="Zakład">
                {foreach from=$kierownicy item=row}
                {if $row.id_zakladu eq 0}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wydzialu eq $row.id_wydzialu}selected{/if}>{$row.wydzial} </option>{/if}
                {/foreach}
            </optgroup>
            <optgroup label="Police">
                {foreach from=$kierownicy item=row}
                {if $row.id_zakladu eq 1}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wydzialu eq $row.id_wydzialu}selected{/if}>{$row.wydzial} </option>{/if}
                {/foreach}
            </optgroup>
            <optgroup label="Kostrzyń">
                {foreach from=$kierownicy item=row}
                {if $row.id_zakladu eq 2}<option value="{$row.id_wydzialu}">{$row.wydzial} <!-- - {$row.imie_p} {$row.nazwisko_p}</option>{/if}
                {/foreach}
            </optgroup>
        </select>-->
        <hr />
        {if !$smarty.session.logged}
        <p>Pozwól nam się zidentyfikować</p>
        <div class="ym-g33 ym-gl">

            <label for="firma">Firma </label>
            <input id="firma"  name="dane[d_firma]" type="text" size="25" value="{$dane.d_firma}" style="width:98%"/> 
                <label for="stanowisko">Stanowisko </label>
                <input id="stanowisko"  name="dane[d_stanowisko]" type="text" size="25" value="{$dane.d_staowisko}" style="width:98%"/><br />&nbsp;
            </div>
            <div class="ym-g33 ym-gl">
                <label for="Imię">Imię</label>
                <input id="Imię"  name="dane[d_imie]" type="text" size="25" value="{$dane.d_imie}" style="width:98%"/> 
                <label for="Nazwisko">Nazwisko </label>
                <input id="Nazwisko"  name="dane[d_nazwisko]" type="text" size="25" value="{$dane.d_nazwisko}" style="width:98%"/><br />&nbsp; 
                </div>
                <div class="ym-g33 ym-gr">          
                    <label for="Telefon">Telefon</label>
                    <input id="Telefon"  name="dane[d_telefon]" type="text" size="25" value="{$dane.d_telefon}" style="width:98%"/> 
                    <label for="Email">Email </label>
                    <input id="Email"  name="dane[d_email]" type="text" size="25" value="{$dane.d_email}" style="width:98%"/> <br />&nbsp;
                </div>
            {/if}
                <hr />
                {if !$niezgodnosc.id_stanu}
                <button type="submit" class="save ym-save ym-success" id="submit3">Zarejestruj i powiadom gospodarza</button>
                <hr />
                {/if}

        </form>
        <hr class="hr_specjalny" />
        {if $krok >= 1}{include file='zagrozenie_2.html'}{/if}