<form class="ym-form" action="{$request_url}" method="POST">      
     {if $niezgodnosc.id_stanu eq 10 and $smarty.session.pracownik.rola eq 'kierownik'}
        <button type="button" class="save ym-save ym-primary" id="submit" name="przyjmij" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/przyjmij'">Przyjmij do realizacji</button>
        <button type="button" class="save ym-close ym-danger" id="submit2" name="odrzuc" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/odrzuc'">Poproś o wyznaczenie odpowiedzialnego </button>

        {else if $niezgodnosc.id_stanu eq 20  and $smarty.session.pracownik.rola eq 'pelnomocnik'}
        <button type="submit" class="save ym-save ym-success" id="submit3" name='przydziel'>Zapisz i przydziel ponownie</button>
        {/if}

    <hr/>
    <label>Komentarze</label>
    {include file='komentarze.html'}
</form>