<form class="ym-form" action="{$request_url}" method="POST">
    <div class="ym-gbox" >
        <div class="ym-g33 ym-gl">
            <label for="data_zglosz">Data zgłoszenia </label>
            <div class="blok_view">{$niezgodnosc.data_zgloszenia|date_format:'%d.%m.%Y'}</div>
        </div>
        <div class="ym-g33 ym-gl">
            <label for="id_pracownika">Zgłaszający</label>
 <div class="blok_view">{$niezgodnosc.zglaszajacy}</div>
        </div>
        <div class="ym-g33 ym-gr">          
            <label for="numer">Numer zgłoszenia</label>
      <div class="blok_view">{$niezgodnosc.numer}</div>
        </div>
    </div>
        <label for="tytul">Tytuł</label>
        	<div class="blok_view">{$niezgodnosc.tytul}</div>
        <label for="miejsce">Obszar wystąpienia zagrożenia</label>
        	<div class="blok_view">{$niezgodnosc.wystapienie}</div>
        <label for="lokalizacja">Szczegółowa lokalizacja</label>
			<div class="blok_view">{$niezgodnosc.kryterium}</div>
        <label for="opis">Opis zagrożenia</label>
       		 <div class="blok_view">{$niezgodnosc.opis}</div>
        <label>Czy zagrożenie zostało wstępnie zabezpieczone:&nbsp;&nbsp;<strong style="color: #333; text-transform:uppercase;">{$niezgodnosc.zabezpieczone}</strong></label> 
        
        <label for="zabezpieczenie">Sposób zabezpieczenia</label>
        	<div class="blok_view">{$niezgodnosc.dowod}</div>
        <label for="your-id">Odpowiedzialny za podjęcie działań:</label>
			<div class="blok_view">{$niezgodnosc.wydzial}</div>
        <hr />
        <div class="ym-g33 ym-gl">
            <label for="firma">Firma </label>
            <div class="blok_view">{$dane.d_firma}</div>
                <label for="stanowisko">Stanowisko </label>
               <div class="blok_view">{$dane.d_stanowisko}</div>
            </div>
            <div class="ym-g33 ym-gl">
                <label for="Imię">Imię</label>
               <div class="blok_view">{$dane.d_imie}</div>
               <label for="Nazwisko">Nazwisko </label>
               <div class="blok_view">{$dane.d_nazwisko}</div>
                </div>
                <div class="ym-g33 ym-gr">          
                    <label for="Telefon">Telefon</label>
                   <div class="blok_view">{$dane.d_telefon}</div>
                    <label for="Email">Email </label>
                   <div class="blok_view">{$dane.d_email}</div>
                </div>
                <hr />
                {if !$niezgodnosc.id_stanu}
                <button type="submit" class="save ym-save ym-success" id="submit3">Zarejestruj i powiadom gospodarza</button>
                <hr />
                {/if}
        </form>
        <hr class="hr_specjalny" />
        {if $krok >= 1}{include file='zagrozenie_2.html'}{/if}