<form class="ym-form" action="{$request_url}" method="POST">

<h4>Edycja wydziału nr {$wydzial.id}: <em>{$wydzial.wydzial}</em></h4>
<div class="ym-gbox" >
        <div class="ym-g33 ym-gl">
        
		<label id="nazwa">Nazwa wydziału</label>
		<input id="nazwa" type="text"  name="wydzial[wydzial]" value="{$wydzial.wydzial}"  onkeyup="licz_znaki('50', $(this).attr('id'), 'kr_bar', 'kr_info');"  required="required"/>
		<div id="kr_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="kr_info" class="font11">Pozostało: 50 znaków.</div>
        
        <label id="nazwa">Symbol wydziału:</label>
		<input id="nazwa" type="text"  name="wydzial[symbol_w]" value="{$wydzial.symbol_w}"  onkeyup="licz_znaki('10', $(this).attr('id'), 'kr_bar', 'kr_info');"  required="required"/>

		<label>Zakład:</label>
		<select  id="miejsce"  name="wydzial[id_zakladu]"  size="1" >
      		{foreach from=$zaklady item=zaklad}
			<option value="{$zaklad.id_zakladu}" >{$zaklad.zaklad}</option>
			{/foreach}  
            </optgroup>
        </select>
<br />
<button type="button" class="save ym-edit ym-primary" onclick="editform({$wydzial.id_wydzialu}">Zapisz</button>
</div>
</div>
</form>