<h4>Lista wydziałów</h4>
<table style="margin-top:25px;" id="tabela{$rand}" >
    <thead>
        <tr>
            <th> LP. </th>
            <th style="min-width:400px;"> Numer wydziału </th>
            <th> Nazwa wydziału </th>
            <th> Zakład</th>
            <th> Oznaczenie wydziału </th>
            <th> &nbsp; </th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$wydzialy item=wydzial}
        <tr>
            <td>{$dzialanie@iteration}</td>
            <td> {$wydzial.id}  </td>
            <td title="{$dzialanie.opis_dzialania}">{$wydzial.wydzial}</td>
            <td> {$wydzial.zaklad}</td>
            <td> {$wydzial.symbol_w}  </td>
            <td><button type="button" class="save ym-edit ym-primary" onclick="editform({$wydzial.id_wydzialu}">edit</button></td>
        </tr>
        {/foreach}
    </tbody>
</table>