<form class="ym-form" action="{$request_url}" method="POST">

<h4>Edycja Zakładu nr {$zaklad.id_zakladu}: <em>{$zaklad.zaklad}</em></h4>
<div class="ym-gbox" >
        <div class="ym-g33 ym-gl">
        
		<label id="nazwa">Nazwa zakładu:</label>
		<input id="nazwa" type="text"  name="zaklad[zaklad]" value="{$zaklad.zaklad}"   required="required"/>
        
<button type="button" class="save ym-edit ym-primary" onclick="editform({$zaklad.id_zakladu}">zapisz</button>
</div>
</div>
</form>