<h4>Lista zakładów</h4>
<table style="margin-top:25px;" id="tabela{$rand}" >
    <thead>
        <tr>
            <th> LP. </th>
            <th > Numer zakładu </th>
            <th> Nazwa Zakładu </th>
            <th> &nbsp; </th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$zaklady item=zaklad}
        <tr>
            <td>{$dzialanie@iteration}</td>
            <td> {$zaklad.id_zakladu}  </td>
            <td title="{$dzialanie.opis_dzialania}">{$zaklad.zaklad}</td>
            <td><button type="button" class="save ym-edit ym-primary" onclick="editform({$wydzial.id_wydzialu}">edit</button></td>
        </tr>
        {/foreach}
    </tbody>
</table>