    <table>
    	<thead>
    		<tr>
    			<th> LP. </th>
				<th> Data  </th>
				<th> Zgłaszający </th>
				<th> Status </th>
				<th> Opis Zgłoszenia&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp</th>
				<th> Dział </th>
    		</tr>
    	</thead>
    	<tbody>
    		{*  {foreach}*}
    		<tr>
    			<td> {$zagrozenie.id} </td>
				<td>{$zagrozenie.czas}</td>
				<td> {$zagrozenie.zglaszajacy} </td>
				<td> {$zagrozenie.status}  </td>
				<td> {$zagrozenie.opis}  </td>
				<td> {$zagrozenie.dzial}  </td>
    		</tr>
         {*  {/foreach}*}
   	  </tbody>
    </table>
