<script src="/assets/js/ui/jquery.ui.datepicker.min.js"></script>
<script src="/assets/js/ui/jquery.ui.datepicker-pl.min.js"></script>
<link rel="stylesheet" type="text/css"
href="/assets/css/redmond/datepicker.custom.css" />
<script>
$(function() {
$.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#zgloszenie_czas").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
            });
		$.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#termin_realizacji").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
            });
		$.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_realizacji").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
            });
    });
</script>
<form class="ym-form">
        <div class="ym-fbox">
        <div class="ym-g20 ym-gl">
<div class="ym-gbox">
    <label for="your-id">Rodzaj Działania</label>
    <select name="your-id" id="your-id" size="1">
    <option value="0" selected="selected" disabled="disabled">Proszę wybrać</option>
    <option value="value #1">Do Zagrożeń</option>
    <option value="value #2">Do niezgodności</option>
    <option value="value #3">Do niezgodności potencjalnych</option>
    </select>
    </div>
    </div>
    
       <div class="ym-g20 ym-gl">
<div class="ym-gbox">
    <label for="your-id">Numer Identyfikacyjny</label>
    <input type="text" name="your-id" id="your-id" placeholder="Wpisz numer" />
  
     </div>
    </div>
     <div class="ym-g20 ym-gl">
<div class="ym-gbox">
    <label for="your-id">Data zgłoszenia od:</label>
    <input type="text" name="your-id" id="your-id" placeholder="Wybierz datę" />
    </div>
    </div>
       <div class="ym-g20 ym-gl">
<div class="ym-gbox">
    <label for="your-id">Data zgłoszenia do:</label>
    <input type="text" name="your-id" id="your-id" placeholder="Wybierz datę" />
    </div>
    </div>
   
   <div class="ym-g20 ym-gl">
<div class="ym-gbox">
      <label for="your-id">Komórka organizacyjna</label>
    <select name="your-id" id="your-id" size="1">
    <option value="0" selected="selected" disabled="disabled">Proszę wybrać</option>
    <option value="value #1">Dział produkcji</option>
    <option value="value #2">Dział utrzymania ruchu</option>
    <option value="value #3">Dział logistyki</option>
    </select>
     </div>
    </div>
     
    </div>



<div class="ym-grid">
<div class="ym-g30 ym-gl">
<div class="ym-gbox">
<div  class="box success">
<h4>105/09/2013</h4>
<h6>Lorem ipsum dolor sit amet, </h6>
</div>
<div  class="box success">
<h4>106/09/2013</h4>
<h6>Lorem ipsum dolor sit amet, </h6>
</div>
<div  class="box success">
<h4>107/09/2013</h4>
<h6>Lorem ipsum dolor sit amet, </h6>
</div>
<div  class="box success">
<h4>105/09/2013</h4>
<h6>Lorem ipsum dolor sit amet, </h6>
</div>

</div>
</div>

<div class="ym-g70 ym-gl">
<div class="ym-gbox">



<div id="accordion-container">
	<form class="ym-form">
    <!-- ta sekcja może zostać wypełniona automatycznie jeżlei jest tworzona na podstawie zgłoszenia zagrożenia-->
    <h2 class="accordion-header">Zgłoszenie niezgodności</h2>
    <div class="accordion-content">
		<div class="ym-grid">
		  	<div class="ym-gbox">
				<div class="ym-g33 ym-gl">
					<div class="ym-gbox-left ym-fbox-text">
						<label for="zgloszenie_czas">Data zgłoszenia </label>
						<input id="zgloszenie_czas" type="text" size="25" name="plz"></input>
					</div>
				</div>
				<div class="ym-g33 ym-gl">
					<div class="ym-gbox ym-fbox-text">
						<label for="your-id">Zgłaszający</label>
    <input id="city" type="text" size="25" value="{$smarty.session.pracownik.imie_p} {$smarty.session.pracownik.nazwisko_p}">
 
    </select>
					</div>
				</div>
				
				<div class="ym-g33 ym-gr">
					<div class="ym-gbox-left ym-fbox-text">
						<label for="country">Dokument nadrzędny</label>
						<input id="city" type="text" size="25" name="city"></input>
					</div>
				</div>
			</div>
		<div class="ym-gbox">
				<div class="ym-g80 ym-gl">
                <!--jkhfkdsjhfksjdhfkds-->
                           <div class="ym-fbox">
    <label for="miejsce">Obszar wystąpienia niezgodności</label>
   <select name="miejsce" id="miejsce" size="1">
    <option value="value #3">Instalacja</option>
    <option value="value #4">Laboaltorium</option>
    <option value="value #5">Warsztat</option>
    <option value="value #6">Biuro</option>
     <option value="value #7">Inne</option>
    </select>
  <br />
    <input type="text" name="miejsce" id="miejsce" placeholder="Inne" />
    
     <label for="miejsce1">Zakład</label>
   <select name="miejsce1" id="miejsce1" size="1">
    <option value="value #3">Police</option>
    <option value="value #4">Kostrzyn</option>

    </select>
     <label for="your-id1">Wymagane kryterium</label>
    <textarea name="your-id1" id="your-id" rows="5"></textarea>
    		<label for="message"> Opis niezgodności</label><textarea id="message" rows="7"  name="Opis niezgodności"></textarea>
            <label for="message"> Dowód stwierdzenia niezgodności i/lub upload file</label><textarea id="message" rows="7"  name="Opis niezgodności"></textarea>
    </div>
 </div>
                <div class="ym-g20 ym-gl">
                <br />
                	<span class="ym-label"> Rodzaj niezgodności </span>
    							<div class="ym-fbox-wrap">
    								<div>
    								<input type="radio" name="vote" id="your-id1" />
    								<label for="your-id1">Stwierdzona</label>
    								</div>
    								<div>
    								<input type="radio" name="vote" id="your-id2" />
    								<label for="your-id2">Potencjalna</label><br />
                    <button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>
   		 							</div>
    							</div>  
                </div>
		</div>
     </div><hr /><span style="float:right;"><button type="submit" class="ym-delete ym-danger" id="submit">Odrzuć zgłoszenie</button><button type="submit" class="ym-add  ym-primary" id="submit">Dodaj komentarz i przyjmij zgłoszenie</button>&nbsp;<button type="submit" class="save ym-sign ym-primary" id="submit">Przyjmij zgłoeszenie</button></span><br />
     <label for="country">Uwagi</label>
						<textarea id="message" rows="7"  name="Uwagi"></textarea><hr />
                        <p><strong> 12.05.2013 </strong><em>Jan Nowak </em> Zatwierdzenie z zastrzeżeniem..... </p>
    </div>
     <h2 class="accordion-header">Działania naprawcze i korygujące <span style="float:right;"><button type="submit" class="edycja ym-button ym-xsmall ym-edit" id="submit">Edytuj</button></span></h2>
     <div class="accordion-content">
	  <div class="ym-grid">
		  	<div class="ym-gbox">
                <label for="country">Przewidziane działania naprawcze (likwidujące skutek niezgodności)</label>
                    <table>
    	<thead>
    		<tr>
    			<th> LP. </th>
				<th> Opis &nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </th><th> Wykonawca</th>
                <th> Szacowany budżet </th>
				<th> Czas realizacji </th>
				
				
    		</tr>
    	</thead>
    	<tbody>
    		{*  {foreach}*}
    		<tr>
    			<td> {$zagrozenie.id} </td>
				<td>
    <textarea name="your-id1" id="your-id" rows="5"  placeholder="Mleko zostało rozlane - jak je teraz posprzatąć">{$zagrozenie.czas}</textarea></td>
				<td> {$zagrozenie.zglaszajacy} </td>
				<td> {$zagrozenie.status}  </td>
				<td> {$zagrozenie.opis}  </td>
    		</tr>
         {*  {/foreach}*}
   	  </tbody>
    </table>
     <label for="country">Przewidziane działania korygujące (likwidujące przyczyny niezgodności)</label>
                   <table>
    	<thead>
    		<tr>
    			<th> LP. </th>
				<th> Opis &nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </th><th> Wykonawca</th>
                <th> Szacowany budżet </th>
				<th> Czas realizacji </th>
				
				
    		</tr>
    	</thead>
    	<tbody>
    		{*  {foreach}*}
    		<tr>
    			<td> {$zagrozenie.id} </td>
				<td><textarea name="your-id1" id="your-id" rows="5"  placeholder="Mleko zostało rozlane - co zrobić by to się nie powtórzyło">{$zagrozenie.czas}</textarea></td>
				<td> {$zagrozenie.zglaszajacy} </td>
				<td> {$zagrozenie.status}  </td>
				<td> {$zagrozenie.opis}  </td>
    		</tr>
         {*  {/foreach}*}
   	  </tbody>
    </table>

		 <div style="float:right;"><button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>  <button type="submit" class="save ym-save ym-success" id="submit">Zapisz i wyślij do akceptacji</button>
   		 		</div>				
		
	  </div>
	  </div>
      <hr />
      <span style="float:right;"><button type="submit" class="add ym-sign ym-primary" id="submit">Dodaj komentarz </button></span>
      <label for="country">Uwagi</label>
      <textarea id="message" rows="7"  name="Uwagi"></textarea>
      <hr /><span style="float:right;"><button type="submit" class="ym-delete ym-danger" id="submit">Oznacz do poprawy</button>&nbsp;<button type="submit" class="save ym-sign ym-primary" id="submit">Zatwierdź</button></span><br />
      
						
      </div>
	 <h2 class="accordion-header">Zrealizowane działania naprawcze i korygujące <span style="float:right;"><button type="submit" class="edycja ym-button ym-xsmall ym-edit" id="submit">Edytuj</button></span></h2>
     <div class="accordion-content">
          <div class="ym-grid">
		  	<div class="ym-gbox">
	 	                <label for="country">Przewidziane działania naprawcze (likwidujące skutek niezgodności)</label>
                    <table>
    	<thead>
    		<tr>
    			<th> LP. </th>
				<th> Opis działania &nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </th>
               <th> Szacowany budżet </th>
               <th> Planowany <br />termin realizacji </th>
                <th> Opis realizacji &nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </th>
				 <th> Wykonany budżet </th>
                  <th> Faktyczny <br /> termin realizacji </th>
               
    		</tr>
    	</thead>
    	<tbody>
    		{*  {foreach}*}
    		<tr>
    			<td> {$zagrozenie.id} </td>
				<td>{$zagrozenie.czas}</td>
                <td>{$zagrozenie.czas}</td>
				<td> {$zagrozenie.zglaszajacy} </td>
                <td> {$zagrozenie.zglaszajacy} </td>
				<td> {$zagrozenie.status}  </td>
                <td> {$zagrozenie.status}  </td>
				
    		</tr>
         {*  {/foreach}*}
   	  </tbody>
    </table>
     <label for="country">Przewidziane działania korygujące (likwidujące przyczyny niezgodności)</label>
                   <table>
    	<thead>
    		<tr>
    			<th> LP. </th>
				<th> Opis działania &nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </th>
               <th> Szacowany budżet </th>
               <th> Planowany <br />termin realizacji </th>
                <th> Opis realizacji &nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </th>
				 <th> Wykonany budżet </th>
                  <th> Faktyczny <br /> termin realizacji </th>
               
    		</tr>
    	</thead>
    	<tbody>
    		{*  {foreach}*}
    		<tr>
    			<td> {$zagrozenie.id} </td>
				<td>{$zagrozenie.czas}</td>
                <td>{$zagrozenie.czas}</td>
				<td> {$zagrozenie.zglaszajacy} </td>
                <td> {$zagrozenie.zglaszajacy} </td>
				<td> {$zagrozenie.status}  </td>
                <td> {$zagrozenie.status}  </td>
				
    		</tr>
         {*  {/foreach}*}
   	  </tbody>
    </table>
	  </div>
	  </div><hr /><span style="float:right;"><button type="submit" class="add ym-sign ym-primary" id="submit">Dodaj komentarz i zatwierdź</button>&nbsp;<button type="submit" class="save ym-sign ym-primary" id="submit">Zatwierdź</button></span><br />
      
						<label for="country">Uwagi</label>
						<textarea id="message" rows="7"  name="Uwagi"></textarea>				
		  				
     </div>
	 <h2 class="accordion-header">Ocena skuteczności wykonanych działań <span style="float:right;"><button type="submit" class="edycja ym-button ym-xsmall ym-edit" id="submit">Edytuj</button></span></h2>
		<div class="accordion-content">
			<div class="ym-grid">
	 				<div class="ym-g20 ym-gr">
    						<span class="ym-label"> Ocena <span>
    							<div class="ym-fbox-wrap">
    								<div>
    								<input type="radio" name="vote" id="your-id1" />
    								<label for="your-id1">Skuteczne</label>
    								</div>
    								 <div>
    								<input type="radio" name="vote" id="your-id2" />
    								<label for="your-id2">Częściowo skuteczne</label>
   		 							</div>
                                    <div>
    								<input type="radio" name="vote" id="your-id2" />
    								<label for="your-id2">Nie skuteczne</label>
   		 							</div>
                                   
    							</div>
   							 
							<br />
							<button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>
						
     				</div>
					<div class="ym-g80 ym-gr">
          				<div class="ym-gbox-left ym-fbox-text">
						<label for="country">Uwagi</label>
						<textarea id="message" rows="7"  name="Uwagi"></textarea>				
		  				</div>
					
	  			</div>
	 		 </div>
		</div>
	 </form>
</div>






</div>
</div>





</div>