<form class="ym-form">
        <div class="ym-fbox">
        <div class="ym-g20 ym-gl">
<div class="ym-gbox">
    <label for="your-id">Rodzaj Działania</label>
    <select name="your-id" id="your-id" size="1">
    <option value="0" selected="selected" disabled="disabled">Proszę wybrać</option>
    <option value="value #1">Do Zagrożeń</option>
    <option value="value #2">Do niezgodności</option>
    <option value="value #3">Do niezgodności potencjalnych</option>
    </select>
    </div>
    </div>
    
       <div class="ym-g20 ym-gl">
<div class="ym-gbox">
    <label for="your-id">Numer Identyfikacyjny</label>
    <input type="text" name="your-id" id="your-id" placeholder="Wpisz numer" />
  
     </div>
    </div>
     <div class="ym-g20 ym-gl">
<div class="ym-gbox">
    <label for="your-id">Data zgłoszenia od:</label>
    <input type="text" name="your-id" id="your-id" placeholder="Wybierz datę" />
    </div>
    </div>
       <div class="ym-g20 ym-gl">
<div class="ym-gbox">
    <label for="your-id">Data zgłoszenia do:</label>
    <input type="text" name="your-id" id="your-id" placeholder="Wybierz datę" />
    </div>
    </div>
   
   <div class="ym-g20 ym-gl">
<div class="ym-gbox">
      <label for="your-id">Komórka organizacyjna</label>
    <select name="your-id" id="your-id" size="1">
    <option value="0" selected="selected" disabled="disabled">Proszę wybrać</option>
    <option value="value #1">Dział produkcji</option>
    <option value="value #2">Dział utrzymania ruchu</option>
    <option value="value #3">Dział logistyki</option>
    </select>
     </div>
    </div>
     
    </div>
    
    <table style="margin-top:25px;">
    	<thead>
    		<tr>
    			<th> LP. </th>
				<th> Data zgłoszenia </th>
				<th> Zgłaszający </th>
				<th> Status </th>
				<th> Opis Zgłoszenia&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </th>
				<th> Dział </th>
                <th> Data zakończenia</th>
    		</tr>
    	</thead>
    	<tbody>
       {*  {foreach}*}
    		<tr>
    			<td> <a class="more" href>{$niezgodnosc.id}</a> </td>
				<td>{$niezgodnosc.czas}</td>
				<td> {$niezgodnosc.zglaszajacy} </td>
				<td> {$niezgodnosc.status}  </td>
				<td> {$niezgodnosc.opis}  </td>
				<td> {$niezgodnosc.dzial}  </td>
                <td> {$niezgodnosc.termin_realizacji}  </td>
    		</tr>
          {*   {/foreach}*}
    	</tbody>
    </table>
    
    </form>