<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#dzialanien_czas").datepicker({
            minDate: -3,
            // maxDate: 720,
            altField: "#altdzialanie_czas",
            altFormat: "yy-mm-dd"
        });
        $("#dzialaniek_czas").datepicker({
            minDate: -3,
            // maxDate: 720,
            altField: "#altdzialaniek_czas",
            altFormat: "yy-mm-dd"
        });
    });
</script>
<script src="/assets/js/ui/jquery.ui.autocomplete.min.js"></script>
<style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
</style>
<script>
    $(function() {
        $("#dzialanien_wykonawca").autocomplete({
            source: "/?controller=autocomplete&action=pracownicy",
            delay: 1,
            minLength: 2,
            select: function(event, ui) {
                $("#dzialanien_id_wykonawcy").val(ui.item.id);
                //alert(ui.item.id);
            },
            change: function(event, ui) {
                if (!ui.item) {
                    // remove invalid value, as it didn't match anything
                    $(this).val("");
                    //input.data( "autocomplete" ).term = "";
                    return false;
                }
            }
        });
        
        $("#dzialaniek_wykonawca").autocomplete({
            source: "/?controller=autocomplete&action=pracownicy",
            delay: 1,
            minLength: 2,
            select: function(event, ui) {
                $("#dzialaniek_id_wykonawcy").val(ui.item.id);
                //alert(ui.item.id);
            },
            change: function(event, ui) {
                if (!ui.item) {
                    // remove invalid value, as it didn't match anything
                    $(this).val("");
                    //input.data( "autocomplete" ).term = "";
                    return false;
                }
            }
        });

    });
</script>
<script src="/assets/js/ui/jquery.ui.slider.min.js"></script>
<script>
    $(function() {
        $("#dzialanien_slider").slider({
            value: 10000,
            min: 0,
            max: 100000,
            step: 1000,
            slide: function(event, ui) {
                $("#dzialanien_budzet").val(ui.value);
            }
        });
        $("#dzialanien_budzet").val($("#dzialanien_slider").slider("value"));
        
         $("#dzialaniek_slider").slider({
            value: 10000,
            min: 0,
            max: 100000,
            step: 1000,
            slide: function(event, ui) {
                $("#dzialaniek_budzet").val(ui.value);
            }
        });
        $("#dzialaniek_budzet").val($("#dzialaniek_slider").slider("value"));
    });
</script>


    <div class="ym-gbox">
        <label>Przewidziane działania naprawcze (likwidujące skutek niezgodności)</label>
        <div id="dzialanian">
        {$dzialanian}
        </div>
  {if $niezgodnosc.id_stanu eq 30}
        <form class="ym-form" action="/sprawa/dodajdzialanie/{$niezgodnosc.id_sprawy}" method="POST" id="form_dzialanian">
            <input type="hidden" name="dzialanie[typ_dzialania]" id="dzialanie_typ" value="1" />
            <input type="hidden" id="dzialanien_id_wykonawcy" name="dzialanie[id_wykonawcy]">
            <table>
                <thead>
                    <tr>
                        <th> LP. </th>
                        <th style="min-width:600px;"> Opis </th><th> Wykonawca</th>
                        <th> Szacowany budżet </th>
                        <th> Czas realizacji </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{$dzialanien.id}</td>
                        <td ><div class="blok_view">{$dzialanie.opis_dzialania}</div></td>
                        <td> <div class="blok_view">{$dzialanien.wykonawca}</div></td>
                        <td> <div class="blok_view">{$dzialanien.budzet}"  </div>  </td>
                        <td> <div class="blok_view">{$dzialanien.czas}" </div> </td>
                    </tr>
                </tbody>
            </table>
        </form> {/if}
            <label >Przewidziane działania korygujące (likwidujące przyczyny niezgodności)</label>
                  <div id="dzialaniak">
        {$dzialaniak}
        </div>
   {if $niezgodnosc.id_stanu eq 30}
        <form class="ym-form" action="/sprawa/dodajdzialaniek/{$niezgodnosc.id_sprawy}" method="POST" id="form_dzialaniak">
            <input type="hidden" name="dzialanie[typ_dzialania]" id="dzialanie_typ" value="2" />
            <input type="hidden" id="dzialaniek_id_wykonawcy" name="dzialanie[id_wykonawcy]">
            <table>
                <thead>
                    <tr>
                        <th> LP. </th>
                        <th style="min-width:600px;"> Opis </th><th> Wykonawca</th>
                        <th> Szacowany budżet </th>
                        <th> Czas realizacji </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{$dzialanien.id}</td>
                        <td ><div class="blok_view"> {$dzialanien.typ_dzialania}</div></td>
                        <td> <div class="blok_view">{$dzialanien.wykonawca}</div> </td>
                        <td> <div class="blok_view">{$dzialanien.budzet}</div>  </td>
                        <td> <div class="blok_view">{$dzialanien.czas}</div>  </td>
                    </tr>
                </tbody>
            </table>
        </form>{/if}
        <!--
                        <div style="float:right;">
    {*  {if rola=kierownik i zgłoszeni może być zapisane i wysłane do akceptacji na wyższy poziom} *}
                <button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>
            <button type="submit" class="save ym-save ym-success" id="submit">Zapisz i wyślij do akceptacji</button>
    {*  {else} *}
    <button type="submit" class="ym-delete ym-danger" id="poprawa">Oznacz do poprawy</button>&nbsp;<button type="submit" class="save ym-sign ym-primary" id="zatwierdz">Zatwierdź</button>
                {*  {/if} *}-->
        <form id="akceptacja" class="ym-form">
                        {if $smarty.session.pracownik.rola eq 'kierownik' and $niezgodnosc.id_stanu eq 30}<button type="button" class="save ym-save ym-success" id="submitd" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/dosprawdzenia'">Zapisz i wyślij do akceptacji</button>{/if}
                        {if $smarty.session.pracownik.rola eq 'pelnomocnik'  and $niezgodnosc.id_stanu eq 40}<button type="button" class="ym-delete ym-danger" id="poprawa" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/doopracowania'">Oznacz do poprawy</button>&nbsp;<button type="button" class="save ym-sign ym-primary" id="zatwierdz" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/doakceptacji'">Zatwierdź</button>{/if}
                        {if $smarty.session.pracownik.rola eq 'dyrektor'  and $niezgodnosc.id_stanu eq 50}<button type="button" class="ym-delete ym-danger" id="poprawa" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/dosprawdzenia'">Oznacz do poprawy</button>&nbsp;<button type="button" class="save ym-sign ym-primary" id="zatwierdz" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/dorealizacji'">Zatwierdź</button>{/if}
        <hr /></form>

        <label>Komentarze</label>
            <div id="komentarze">{$komentarze1}</div>
            <textarea id="komentarz"  name="komentarz" rows="4" cols="100"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" placeholder="Wprowadź komentarz"  maxlength="5000"></textarea>
            <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
            <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj', 'komentarze', $('#komentarz').val());
            $('#komentarz').val('');">Dodaj komentarz</button>
        


</div>
