    <script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_zglosz").datepicker({
            minDate: -30,
            maxDate: 720,
            altField: "#altdata_zglosz",
            altFormat: "yy-mm-dd"
        });
        $('#fine-uploader').fineUploader({
            request: {
                endpoint: '/upload.php'
            },
            text: {
            uploadButton: 'Dodaj zalaczniki'
            }
        });
    });
</script>
   <form class="ym-form" action="{$request_url}" method="POST">
        <div class="ym-gbox" >

<div class="ym-g33 ym-gl">
            <label for="data_zglosz">Data zgłoszenia </label>
            <div class="blok_view">{$niezgodnosc.data_zgloszenia|date_format:'%d.%m.%Y'}</div>
    </div>
<div class="ym-g33 ym-gl">
            <label for="id_pracownika">Zgłaszający</label>
            <div class="blok_view">{$smarty.session.pracownik.imie_p} {$smarty.session.pracownik.nazwisko_p} </div>
            </div>
            <div class="ym-g33 ym-gr">
            <label for="numer">Numer zgłoszenia</label>
            <div class="blok_view">{$niezgodnosc.numer}</div>
</div>
</div>
  <div class="ym-gbox" >

            <label for="tytul">Tytul</label>
             <div class="blok_view">{$niezgodnosc.tytul}</div>
        
            <br />
            <label>Dział w którym wystąpiła niezgodność</label>
           <!--do zagrozen
            <select  id="miejsce"  name="niezgodnosc[id_obszaru]"  size="1">
                <option value="2">Instalacja</option>
                <option value="3">Labolatorium</option>
                <option value="4">Warsztat</option>
                <option value="5">Biuro</option>
                <option value="1">Inne</option>
            </select>
           -->
            <div class="blok_view"> {foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 1}{$row.wydzial}{/if}
                   {/foreach}{foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 2}{$row.wydzial}{/if}
                   {/foreach}
                   </div>
    
            <br />

            <label for="your-id">Odpowiedzialny za podjęcie działań:</label>
             <div class="blok_view">{$row.wydzial} - {$row.imie_p} {$row.nazwisko_p}</div>
            

            <label for="kryterium">Wymagane kryterium</label>
            <div class="blok_view">{$niezgodnosc.kryterium}</div>
            


            <label for="opis"> Opis niezgodności</label>
             <div class="blok_view">{$niezgodnosc.opis}</div>

            <label for="dowod"> Dowód stwierdzenia niezgodności </label>
             <div class="blok_view">{$niezgodnosc.dowod}</div>
            <br>
            
            {foreach from=$pliki1 item=plik}
            <a href="/pliki/{$plik.katalog}/{$plik.plik}">{$plik.plik}</a><br>
            {/foreach}
        
            <hr/>
            <label>Komentarze</label>
            <div id="komentarze">{$komentarze1}</div>
            <textarea id="komentarz"  name="komentarz" rows="4"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" title="Wprowadź komentarz" maxlength="5000"></textarea>
            <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
            <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj', 'komentarze', $('#komentarz').val());
            $('#komentarz').val('');">Dodaj komentarz</button>
        

        <hr />
        <!--<span style="float:right;"><button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button></span>-->
        {if $niezgodnosc.id_stanu eq 10}
        <button type="button" class="save ym-save ym-primary" id="submit" name="przyjmij" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/przyjmij'">Przyjmij zgłoszenie</button>
        <button type="button" class="save ym-close ym-danger" id="submit2" name="odrzuc" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/odrzuc'">Odrzuć zgłoszenie</button>

        {else if !$niezgodnosc.id_stanu}
        <button type="submit" class="save ym-save ym-success" id="submit3">Zgłoś niezgodność</button>
        {/if}
        <br />
        <!--
        <label for="country">Uwagi</label>
        <textarea id="message" rows="7"  name="Uwagi"></textarea><hr />
        <p><strong> 12.05.2013 </strong><em>Jan Nowak </em> Zatwierdzenie z zastrzeżeniem..... </p>
        -->
        </div>
    </form>