<form class="ym-form">
			<div class="ym-grid">
	 				<div class="ym-g75 ym-gl">
          				<div class="ym-gbox-left ym-fbox-text" >
						<label>Komentarze:</label><br />
            
            <textarea id="komentarz"  name="komentarz" rows="6"  cols="100" onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" placeholder="Wprowadź komentarz" maxlength="5000"></textarea>
            <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
            <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj', 'komentarze', $('#komentarz').val());
            $('#komentarz').val('');">Dodaj komentarz</button>
        <div id="komentarze">{$komentarze4}</div>
			
		  				</div>
                     </div>
                      <div class="ym-g25 ym-gr">
    						<div class="ym-fbox-wrap" >
                                    <span class="ym-label"> Ocena: </span><br />
    								<input type="radio" name="ocena[skuteczne]"  id="your-id1"value="{$ocena.skuteczne}" />
    								<label for="your-id1">Skuteczne</label><br />
    								<input type="radio" name="ocena[cz_skuteczne]" id="your-id2"value="{$ocena.skuteczne_cz}" />
    								<label for="your-id2">Częściowo skuteczne</label><br />
    								<input type="radio" name="ocena[n_skuteczne]" id="your-id2" value="{$ocena.n_skuteczne}" />
    								<label for="your-id2">Nie skuteczne</label><br />
    						<button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>
                            </div>
     					</div>

	  			</div>
</form>	 	