<link rel="stylesheet" type="text/css"  href="/assets/css/fineuploader-3.8.2.min.css" />
<script src="/assets/js/jquery.fineuploader-3.8.2.min.js"></script>
<style>
    .qq-upload-button {
        width: 200px;
    }    
</style>

<script src="/assets/js/ui/jquery.ui.datepicker.min.js"></script>
<script src="/assets/js/ui/jquery.ui.datepicker-pl.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="/assets/css/redmond/datepicker.custom.css" />
<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_zglosz").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
        });
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#termin_realizacji").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
        });
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_realizacji").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
        });
        $('#fine-uploader').fineUploader({
            request: {
                endpoint: '/upload.php'
            },
            text: {
            uploadButton: 'Dodaj załączniki'
            }
        });
    });
</script>


<div id="accordion-container">
    <form class="ym-form" action="/niezgodnosci/nowa" method="POST">
        <!-- ta sekcja może zostać wypełniona automatycznie jeżlei jest tworzona na podstawie zgłoszenia zagrożenia-->
        <h2 class="accordion-header">Zgłoszenie niezgodności</h2>
        <div class="accordion-content">
            <div class="ym-grid">
                <div class="ym-gbox">
                    <div class="ym-g33 ym-gl">
                        <div class="ym-gbox-left ym-fbox-text">
                            <label for="zgloszenie_czas">Data zgłoszenia </label>
                            <input id="data_zglosz"  name="niezgodnosc[data_zglosz]" value="{$niezgodnosc.data_zglosz}" type="text" size="25" name="plz">
                        </div>
                    </div>
                    <div class="ym-g33 ym-gl">
                        <div class="ym-gbox ym-fbox-text">
                            <label for="id_pracownika">Zgłaszający</label>
                            <input id="city" type="text" size="25" value="{$smarty.session.pracownik.imie_p} {$smarty.session.pracownik.nazwisko_p}">
                            </select>
                        </div>
                    </div>

                    <div class="ym-g33 ym-gr">
                        <div class="ym-gbox-left ym-fbox-text">
                            <label for="dokument">Dokument nadrzędny</label>
                            <input id="dokument"  name="niezgodnosc[dokument]" value="{$niezgodnosc.dokument}" type="text" size="25" ></input>
                        </div>
                    </div>
                </div>
                <div class="ym-gbox">
                    <div class="ym-g80 ym-gl">
                        <!--jkhfkdsjhfksjdhfkds-->
                        <div class="ym-fbox">
                            <label for="miejsce">Obszar wystąpienia niezgodności</label>
                            <select  id="miejsce"  name="niezgodnosc[miejsce]"  size="1">
                                <option value="Instalacja">Instalacja</option>
                                <option value="Labolatorium">Labolatorium</option>
                                <option value="Warsztat">Warsztat</option>
                                <option value="Biuro">Biuro</option>
                                <option value="Inne">Inne</option>
                            </select>
                                
                            <br />
                            <input type="text" name="miejsce2" id="miejsce"  name="niezgodnosc[miejsce2]" value="{$niezgodnosc.miejsce2}" placeholder="Inne" />

                            <label for="id_zakladu">Zakład</label>
                            <select id="id_zakladu"  name="niezgodnosc[id_zakladu]"  size="1">
                                <option value="Police">Police</option>
                                <option value="Kostrzyn">Kostrzyn</option>

                            </select>
                            
                            
                              <label for="your-id">Odpowiedzialny za podjęcie działań:</label>
    <select name="your-id" id="your-id" size="1">
    <optgroup label="Kierownicy komórek">
    <option value="value #3">Jan Kowalski - Kierownik parku maszynowego</option>
    <option value="value #4">Adam Nowak - Kierownik Nadzory technicznego</option>
    <option value="value #5">Paweł Kowalski - Kierownik działu remonotowo - budowlanego</option>
    </optgroup>
    </select>
                            <label for="kryterium">Wymagane kryterium</label>
                            <textarea  id="kryterium"  name="niezgodnosc[kryterium]" rows="5">{$niezgodnosc.kryterium}</textarea>
                            <label for="opis"> Opis niezgodności</label><textarea id="opis"  name="niezgodnosc[opis]"  rows="7" >{$niezgodnosc.opis}</textarea>
                            <label for="dowod"> Dowód stwierdzenia niezgodności </label><textarea id="dowod"  name="niezgodnosc[dowod]" rows="7">{$niezgodnosc.dowod}</textarea>
                             <div id="fine-uploader"></div>
                        </div>
                    </div>
                    
                </div>
            </div><hr />
            <span style="float:right;">
                <button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button></span>
                <button type="submit" class="save ym-save ym-success" id="submit">Zgłoś niezgodność</button>
                <br />
        </div>
    </form></div>
