<link rel="stylesheet" type="text/css"  href="/assets/css/fineuploader-3.8.2.min.css" />
<script src="/assets/js/jquery.fineuploader-3.8.2.min.js"></script>
<style>
    .qq-upload-button {
        width: 200px;
    }    
</style>
<script src="/assets/js/ui/jquery.ui.datepicker.min.js"></script>
<script src="/assets/js/ui/jquery.ui.datepicker-pl.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/redmond/datepicker.custom.css" />
<div id="accordion">
<h3>Niezgodnosc</h3>
	<div>{include file='niezgodnosc_1_view.html'}</div>
<h3>Dzialania naprawcze i korygujace {$niezgodnosc.numer}</h3>
	<div>{include file='niezgodnosc_2_view.html'}</div>
<h3>Zrealizowane dzialania naprawcze i korygujace</h3>
     <div>{include file='niezgodnosc_3_view.html'}</div>
<h3>Ocena skutecznosci wykonanych dzialan </h3>
    <div>{include file='niezgodnosc_4_view.html'}</div>
    </div>

