     <div class="ym-gbox" >
         
	 	            <label for="country">Przewidziane działania naprawcze (likwidujące skutek niezgodności)</label>
                    <table>
    					<thead>
    						<tr>
    							<th> LP. </th>
								<th style="min-width:250px;"> Opis działania </th>
               					<th> Szacowany  <br /> budżet </th>
               					<th> Planowany <br />termin realizacji </th>
                				<th style="min-width:250px;"> Opis realizacji </th>
				 				<th> Wykonany  <br /> budżet </th>
                  				<th> Faktyczny <br /> termin realizacji </th>
    						</tr>
    					</thead>
    					<tbody>
    					{* {foreach from=$niezgodnosc.naprawcze item=dzialanie} *}
    						<tr>
                                <td> {$dzialanie.id} </td>
                                <td>{$dzialanie.opis}</td>
                                <td> {$dzialanie.budzet}</td>
                                <td>{$dzialanie.czas}</td>
                                <td><textarea name="dzialania[$dzialanie.id_dzialania][opis_f]" rows="5" cols="70"  placeholder="Mleko zostało rozlane - jak je posprzątałem">{$dzialanie.opis_f}</textarea> </td>
                                <td> <input type="text" size="10" name="dzialania[$dzialanie.id_dzialania][budzet_f]" id="your-id" value="{$dzialanie.budzet_f}"  /> </td>
                                <td> <input type="text" size="10" name="dzialania[$dzialanie.id_dzialania][czas_f]" id="your-id"  value="{$dzialanie.czas_f}" /> </td>    
    						</tr>
         				{* {/foreach} *}
   	  					</tbody>
    				</table>
     				<label for="country">Przewidziane działania korygujące (likwidujące przyczyny niezgodności)</label>
                    <table>
    					<thead>
    						<tr>
    							<th> LP. </th>
                                <th style="min-width:250px;"> Opis działania </th>
                                <th> Szacowany <br />
                                budżet </th>
                                <th> Planowany <br />termin realizacji </th>
                                <th style="min-width:250px;"> Opis realizacji</th>
                                <th> Wykonany <br />
                                budżet </th>
                                <th> Faktyczny <br /> termin realizacji </th>
    						</tr>
    					</thead>
    					<tbody>
    					{*  {foreach  from=$niezgodnosc.korygujace item=dzialanie} *}
                            <tr>
                                <td> {$zagrozenie.id} </td>
                                <td>{$dzialanien.opis}</td>
                                <td> {$dzialanien.budzet}</td>
                                <td>{$dzialanien.czas}</td>
                                <td><textarea name="your-id1" id="niezgodnosc3[dzialaniek.opis_f" rows="5" cols="70"  placeholder="Mleko zostało rozlane - jak je posprzątałem">{$dzialaniek.opis_f}</textarea> </td>
                                <td> <input type="text" size="10" name="niezgodnosc3[dzialaniek.budzet_f]" id="your-id" value="{$dzialaniek.budzet_f}"  /> </td>
                                <td> <input type="text" size="10" name="niezgodnosc3[dzialaniek.czas_f]" id="your-id"  value="{$dzialaniek.czas_f}" /> </td>
                                
                            </tr>
         				{*  {/foreach}*}
   	  					</tbody>
    				</table>
                    <hr />
                    <span style="float:right;"><button type="submit" class="add ym-sign ym-primary" id="submit">Dodaj komentarz i zatwierdź</button>&nbsp;<button type="submit" class="save ym-sign ym-success" id="submit">Zatwierdź</button></span><br />
      				<label for="uwangi">Uwagi/Komentarze</label><br />
      				<textarea id="uwangi" rows="7" cols="100"  name="Uwagi">{$zagrozenie3.komentarz}</textarea>				
	  	</div>
