     <div class="ym-gbox" >
         
	 	            <label for="country">Przewidziane działania naprawcze (likwidujące skutek niezgodności)</label>
                    <table>
    					<thead>
    						<tr>
    							<th> LP. </th>
								<th style="min-width:250px;"> Opis działania </th>
               					<th> Szacowany  <br /> budżet </th>
               					<th> Planowany <br />termin realizacji </th>
                				<th style="min-width:250px;"> Opis realizacji </th>
				 				<th> Wykonany  <br /> budżet </th>
                  				<th> Faktyczny <br /> termin realizacji </th>
    						</tr>
    					</thead>
    					<tbody>
    					{* {foreach from=$niezgodnosc.naprawcze item=dzialanie} *}
    						<tr>
                                <td> <div class="blok_view">{$dzialanien.id}</div> </td>
                                <td><div class="blok_view">{$dzialanien.typ_dzialania}</div></td>
                                <td> <div class="blok_view">{$dzialanien.budzet}</div></td>
                                <td><div class="blok_view">{$dzialanien.czas}</div></td>
                                <td><div class="blok_view">{$dzialanie.opis_f}</div> </td>
                                <td><div class="blok_view">{$dzialanie.budzet_f}</div> </td>
                                <td> <div class="blok_view">{$dzialanie.czas_f}</div> </td>    
    						</tr>
         				{* {/foreach} *}
   	  					</tbody>
    				</table>
     				<label for="country">Przewidziane działania korygujące (likwidujące przyczyny niezgodności)</label>
                    <table>
    					<thead>
    						<tr>
    							<th> LP. </th>
                                <th style="min-width:250px;"> Opis działania </th>
                                <th> Szacowany <br />
                                budżet </th>
                                <th> Planowany <br />termin realizacji </th>
                                <th style="min-width:250px;"> Opis realizacji</th>
                                <th> Wykonany <br />
                                budżet </th>
                                <th> Faktyczny <br /> termin realizacji </th>
    						</tr>
    					</thead>
    					<tbody>
    					{*  {foreach  from=$niezgodnosc.korygujace item=dzialanie} *}
                            <tr>
                                <td> <div class="blok_view">{$zagrozenie.id} </div></td>
                                <td><div class="blok_view">{$dzialanien.opis}</div></td>
                                <td> <div class="blok_view">{$dzialanien.budzet}</div></td>
                                <td><div class="blok_view">{$dzialanien.czas}</div></td>
                                <td> <div class="blok_view">{$dzialaniek.opis_f}</div></td>
                                <td><div class="blok_view">{$dzialaniek.budzet_f}</div></td>
                                <td><div class="blok_view">{$dzialaniek.czas_f}</div></td>
                                
                            </tr>
         				{*  {/foreach}*}
   	  					</tbody>
    				</table>
                    <hr />
                  <label>Komentarze</label><br />
            
            <textarea id="komentarz"  name="komentarz" rows="5" cols="100"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" placeholder="Wprowadź komentarz" maxlength="5000"></textarea>
            <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
            <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj', 'komentarze', $('#komentarz').val());
            $('#komentarz').val('');">Dodaj komentarz</button>
        <div id="komentarze">{$komentarze3}</div>
			
	  	</div>
