<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $(".czas").datepicker({
            minDate: -60,
            maxDate: 1
                    //altField: "#altdzialanie_czas",
                    //altFormat: "yy-mm-dd"
        });

    });
</script>
<form class="ym-form" action="/sprawa/updatedzialania/{$niezgodnosc.id_sprawy}" method="POST">
    <div class="ym-gbox" >
{if $niezgodnosc_p eq 0}
          <label for="country">Przewidziane działania naprawcze (likwidujące skutek niezgodności)</label>
        <div id="dzialanian_rel">{$dzialanian_rel}</div>
        <label for="country">Przewidziane działania korygujące (likwidujące przyczyny niezgodności)</label>
        <div id="dzialaniak_rel">{$dzialaniak_rel}</div>
            {else}
            <label for="country">Zrealizowane działania zapobiegawcze (likwidujące przyczyny niezgodności)</label>
        <div id="dzialaniak_rel">{$dzialaniak_rel}</div>
            {/if}
        
        
        
        <button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button>
        {if $ocena and $smarty.session.pracownik.rola eq 'kierownik'}<button type="button" class="save ym-save ym-success" id="poprawa" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/dooceny'">Zakończ Realizację</button>{/if}
        <hr />
        
        <label>Komentarze</label>
        <div id="komentarze3">{$komentarze3}</div>
        {if !$niezgodnosc.id_stanu or $niezgodnosc.id_stanu>=60 and $niezgodnosc.id_stanu<70}
        <textarea id="komentarz3"  name="komentarz" rows="4" cols="100"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" placeholder="Wprowadź komentarz"  maxlength="5000"></textarea>
        <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
        <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
        <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj/{$niezgodnosc.id_sprawy}/{$niezgodnosc.id_stanu}', 'komentarze3', $('#komentarz3').val());
        $('#komentarz3').val('');">Dodaj komentarz</button>
        {/if}

    </div></form>
