<link rel="stylesheet" type="text/css"  href="/assets/css/fineuploader-3.8.2.min.css" />
<script src="/assets/js/jquery.fineuploader-3.8.2.min.js"></script>
<style>
    .qq-upload-button {
        width: 200px;
    }    
</style>

<script src="/assets/js/ui/jquery.ui.datepicker.min.js"></script>
<script src="/assets/js/ui/jquery.ui.datepicker-pl.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="/assets/css/redmond/datepicker.custom.css" />
<script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_zglosz").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
        });
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#termin_realizacji").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
        });
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_realizacji").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
        });
        $('#fine-uploader').fineUploader({
            request: {
                endpoint: '/upload.php'
            },
            text: {
            uploadButton: 'Dodaj zalaczniki'
            }
        });
    });
</script>
<div id="accordion-container">
	<form class="ym-form" action="{$request_url}" method="POST">
 
 {include file='p_niezgodnosci_1.html'}
{if $krok>1} {include file='p_niezgodnosci_2.html'}{/if}
{if $krok>2} {include file='p_niezgodnosci_3.html'}{/if}
{if $krok>3} {include file='p_niezgodnosci_4.html'}{/if}
	 
	 </form>
</div>