    <script>
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_zglosz").datepicker({
            minDate: -30,
            maxDate: 720,
            altField: "#altdata_zglosz",
            altFormat: "yy-mm-dd"
        });
        $('#fine-uploader').fineUploader({
            request: {
                endpoint: '/upload.php'
            },
            text: {
            uploadButton: 'Dodaj zalaczniki'
            }
        });
    });
</script>
   <form class="ym-form" action="{$request_url}" method="POST">
        <div class="ym-gbox" >
 <div class="ym-g33 ym-gl">

            <label for="data_zglosz">Data zgłoszenia </label>
            <input id="data_zglosz"   value="{$niezgodnosc.data_zgloszenia|date_format:'%d.%m.%Y'}" type="text" size="25"  style="width:98%"/>
             <input id="altdata_zglosz"  name="niezgodnosc[data_zgloszenia]" value="{$niezgodnosc.data_zgloszenia}" type="hidden" />
 </div><div class="ym-g33 ym-gl">
            <label for="id_pracownika">Zgłaszający</label>
            <input id="id_pracownika" readonly="readonly" type="text" size="25" value="{$smarty.session.pracownik.imie_p} {$smarty.session.pracownik.nazwisko_p}" style="width:98%"/>
   
   </div><div class="ym-g33 ym-gr">          
            <label for="numer">Numer zgłoszenia</label>
            <input id="numer" readonly="readonly" name="niezgodnosc[numer]" type="text" size="25" value="{$niezgodnosc.numer}" style="width:98%"/>
</div>
            <label for="tytul">Tytul</label>
             <input id="tytul" type="text"  name="niezgodnosc[tytul]" value="{$niezgodnosc.tytul}"  onkeyup="licz_znaki('150', $(this).attr('id'), 'kr_bar', 'kr_info');"/>
<div id="kr_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kr_info" class="font11">Pozostało: 150 znaków.</div>
            <br />
            
            {if $niezgodnosc_p eq 0}
            <label>Dział w którym wystąpiła niezgodność</label>
            {else}
            <label>Dział w którym wystąpiła niezgodność potencjalna</label>
            {/if}
           <!--do zagrozen
            <select  id="miejsce"  name="niezgodnosc[id_obszaru]"  size="1">
                <option value="2">Instalacja</option>
                <option value="3">Labolatorium</option>
                <option value="4">Warsztat</option>
                <option value="5">Biuro</option>
                <option value="1">Inne</option>
            </select>
           -->
            <select  id="miejsce"  name="niezgodnosc[id_wyst]"  size="1">
                <optgroup label="Police">
                   {foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 1}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wyst eq $row.id_wydzialu}selected{/if}>{$row.wydzial}</option>{/if}
                   {/foreach}
                </optgroup>
                <optgroup label="Kostrzyń">
                   {foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 2}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wyst eq $row.id_wydzialu}selected{/if}>{$row.wydzial}</option>{/if}
                   {/foreach}
                </optgroup>
            </select>
           
            <br />

            <label for="your-id">Odpowiedzialny za podjęcie działań:</label>
            <select name="niezgodnosc[id_wydzialu]" id="your-id" size="1">
                <optgroup label="Zakład">
                   {foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 0}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wydzialu eq $row.id_wydzialu}selected{/if}>{$row.wydzial} - {$row.imie_p} {$row.nazwisko_p}</option>{/if}
                   {/foreach}
                 </optgroup>
                <optgroup label="Police">
                   {foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 1}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wydzialu eq $row.id_wydzialu}selected{/if}>{$row.wydzial} - {$row.imie_p} {$row.nazwisko_p}</option>{/if}
                   {/foreach}
                </optgroup>
                <optgroup label="Kostrzyń">
                   {foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 2}<option value="{$row.id_wydzialu}">{$row.wydzial} - {$row.imie_p} {$row.nazwisko_p}</option>{/if}
                   {/foreach}
                </optgroup>
                 
            </select>

            <label for="kryterium">Wymagane kryterium</label>
            <textarea  id="kryterium"  name="niezgodnosc[kryterium]" rows="5" onkeyup="licz_znaki('5000', $(this).attr('id'), 'kr_bar', 'kr_info');"  maxlength="5000">{$niezgodnosc.kryterium}</textarea>
            <div id="kr_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kr_info" class="font11">Pozostało: 5000 znaków.</div>
			{if $niezgodnosc_p eq 0}
          <label for="opis"> Opis niezgodności</label>
            {else}
            <label for="opis"> Opis niezgodności potencjalnej</label>
            {/if}

            <br />
			<textarea id="opis"  name="niezgodnosc[opis]"  rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'op_bar', 'op_info');"  maxlength="5000">{$niezgodnosc.opis}</textarea>
            <div id="op_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="op_info" class="font11">Pozostało: 5000 znaków.</div>
 			{if $niezgodnosc_p eq 0}
          <label for="dowod"> Dowód stwierdzenia niezgodności </label>
            {else}
             <label for="dowod"> Dowód stwierdzenia niezgodności potencjalnej </label>
            {/if}
            <textarea id="dowod"  name="niezgodnosc[dowod]" rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'dow_bar', 'dow_info');"  maxlength="5000">{$niezgodnosc.dowod}</textarea>
            <div id="dow_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="dow_info" class="font11">Pozostało: 5000 znaków.</div><br>
            {if $niezgodnosc.id_stanu}
            {foreach from=$pliki1 item=plik}
            <a href="/pliki/{$plik.katalog}/{$plik.plik}">{$plik.plik}</a><br>
            {/foreach}
            {else}
            <div id="fine-uploader"></div>
            {/if}
            <hr/>
            <label>Komentarze</label>
            <div id="komentarze">{$komentarze1}</div>
            {if !$niezgodnosc.id_stanu or $niezgodnosc.id_stanu<30}
            <textarea id="komentarz"  name="komentarz" rows="4"  onkeyup="licz_znaki('5000', $(this).attr('id'), 'tre_bar', 'tre_info');" title="Wprowadź komentarz" maxlength="5000"></textarea>
            <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
            <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj', 'komentarze', $('#komentarz').val());
            $('#komentarz').val('');">Dodaj komentarz</button>
            {/if}
        

        <hr />
        <!--<span style="float:right;"><button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button></span>-->
        {if $niezgodnosc.id_stanu eq 10 and $smarty.session.pracownik.rola eq 'kierownik'}
        <button type="button" class="save ym-save ym-primary" id="submit" name="przyjmij" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/przyjmij'">Przyjmij zgłoszenie</button>
        <button type="button" class="save ym-close ym-danger" id="submit2" name="odrzuc" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/odrzuc'">Odrzuć zgłoszenie</button>
        
        {else if $niezgodnosc.id_stanu eq 20  and $smarty.session.pracownik.rola eq 'pelnomocnik'}
       <button type="submit" class="save ym-save ym-success" id="submit3" name='przydziel'>Zapisz i przydziel ponownie</button>

        {else if !$niezgodnosc.id_stanu}
        <button type="submit" class="save ym-save ym-success" id="submit3">Zgłoś niezgodność</button>
        {else if $smarty.session.pracownik.id_wydzialu eq $niezgodnosc.id_wydzialu or $smarty.session.pracownik.rola eq 'pelnomocnik'}
       <button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button>
        {/if}
        <br />
        <!--
        <label for="country">Uwagi</label>
        <textarea id="message" rows="7"  name="Uwagi"></textarea><hr />
        <p><strong> 12.05.2013 </strong><em>Jan Nowak </em> Zatwierdzenie z zastrzeżeniem..... </p>
        -->
        </div>
    </form>