 <h2 class="accordion-header">Działania zapobiegawcze <span style="float:right;"><button type="submit" class="edycja ym-button ym-xsmall ym-edit" id="submit">Edytuj</button></span></h2>
     <div class="accordion-content">
	  <div class="ym-grid">
		  	<div class="ym-gbox">

                <label>Przewidziane działania zapobiegawcze (likwidujące przyczyny potencjalnej niezgodności)</label>
                    <table>
    					<thead>
    						<tr>
                                <th> LP. </th>
                                <th style="min-width:400px;"> Opis </th><th> Wykonawca</th>
                                <th> Szacowany budżet </th>
                                <th> Czas realizacji </th>
							</tr>
    					</thead>
    					<tbody>
    					{*  {foreach}*}
    						<tr>
                                <td>{$dzialanien.id}</td>
                                <td> <textarea name="your-id1" id="niezgodnosc2[dzialanien.opis]" rows="5"  placeholder="Mleko może się rozlać, co zrobić aby się więcej nie rozlało?">{$dzialanien.opis}</textarea></td>
                                <td> <input type="text" name="niezgodnosc2[dzialanien.wykonawca]" id="your-id" value="{$dzialanien.wykonawca}" /> </td>
                                <td> <input type="text" name="niezgodnosc2[dzialanien.budzet]" id="your-id" value="{$dzialanien.budzet}"  />  </td>
                                <td> <input type="text" name="niezgodnosc2[dzialanien.czas]" id="your-id" value="{$dzialanien.czas}" />  </td>
    						</tr>
         				{*  {/foreach}*}
                         </tbody>
                       </table>
    			
		 			<div style="float:right;">
                    {*  {if rola=kierownik i zgłoszeni może być zapisane i wysłane do akceptacji na wyższy poziom} *}
                    		<button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>  
                            <button type="submit" class="save ym-save ym-success" id="submit">Zapisz i wyślij do akceptacji</button>
                    {*  {else} *}
                    <button type="submit" class="ym-delete ym-danger" id="submit">Oznacz do poprawy</button>&nbsp;<button type="submit" class="save ym-sign ym-primary" id="submit">Zatwierdź</button>
      				{*  {/if} *}       
 					</div>				
		  			<hr />
                    
      				<span style="float:right;"><button type="submit" class="add ym-sign ym-primary" id="submit">Dodaj komentarz </button></span>
      				<label for="uwangi">Uwagi/Komentarze</label>
      				<textarea id="uwangi" rows="7"  name="Uwagi">{$zagrozenie2.komentarz}</textarea>
                        {*  {foreach} *}
                        <p><strong> {$uwaga.czas} </strong><em>{$uwaga.osoba} </em> {$uwaga.tresc}</p>
                        {*  {/foreach} *}
      				
	  		</div>			
      </div>
      </div>		