<h2 class="accordion-header">Zrealizowane działania zapobiegawcze <span style="float:right;"><button type="submit" class="edycja ym-button ym-xsmall ym-edit" id="submit">Edytuj</button></span></h2>
     <div class="accordion-content">
          <div class="ym-grid">
		  	<div class="ym-gbox">
	 	                
     <label for="country">Przewidziane działania zapobiegawcze (likwidujące przyczyny niezgodności)</label>
                   <table>
    					<thead>
    						<tr>
    							<th> LP. </th>
								<th style="min-width:220px;"> Opis działania </th>
               					<th> Szacowany budżet </th>
               					<th> Planowany <br />termin realizacji </th>
                				<th style="min-width:220px;"> Opis realizacji </th>
				 				<th> Wykonany budżet </th>
                  				<th> Faktyczny <br /> termin realizacji </th>
    						</tr>
    					</thead>
    					<tbody>
    					{foreach from=$niezgodnosc.naprawcze item=dzialanie} 
    						<tr>
                                <td> {$dzialanie.id} </td>
                                <td>{$dzialanie.opis}</td>
                                <td> {$dzialanie.budzet}</td>
                                <td>{$dzialanie.czas}</td>
                                <td><textarea name="dzialania[$dzialanie.id_dzialania][opis_f]" rows="5"  placeholder="Mleko zostało rozlane - jak je posprzątałem">{$dzialanie.opis_f}</textarea> </td>
                                <td> <input type="text" name="dzialania[$dzialanie.id_dzialania][budzet_f]" id="your-id" value="{$dzialanie.budzet_f}"  /> </td>
                                <td> <input type="text" name="dzialania[$dzialanie.id_dzialania][czas_f]" id="your-id"  value="{$dzialanie.czas_f}" /> </td>    
    						</tr>
         				{/foreach}
   	  					</tbody>
    				</table>
     				
                    <hr />
                    <span style="float:right;"><button type="submit" class="add ym-sign ym-primary" id="submit">Dodaj komentarz i zatwierdź</button>&nbsp;<button type="submit" class="save ym-sign ym-success" id="submit">Zatwierdź</button></span><br />
      				<label for="uwangi">Uwagi/Komentarze</label>
      				<textarea id="uwangi" rows="7"  name="Uwagi">{$zagrozenie3.komentarz}</textarea>
                      {*  {foreach} *}
                        <p><strong> {$uwaga.czas} </strong><em>{$uwaga.osoba} </em> {$uwaga.tresc}</p>
                        <hr class="komentarz" />
                        {*  {/foreach} *}	
                        </div>	
                        </div>
     </div>