<script src="/assets/js/ui/jquery.ui.datepicker.min.js"></script>
<script src="/assets/js/ui/jquery.ui.datepicker-pl.min.js"></script>
<link rel="stylesheet" type="text/css"
href="/assets/css/redmond/datepicker.custom.css" />
<script>
$(function() {
$.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#zgloszenie_czas").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
            });
		$.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#termin_realizacji").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
            });
		$.datepicker.setDefaults($.datepicker.regional["pl"]);
        $("#data_realizacji").datepicker({
            minDate: -30,
            maxDate: 720,
            dateFormat: "yy-mm-dd"
            });
    });
</script>

<div id="accordion-container">
	<form class="ym-form">
    <!-- ta sekcja może zostać wypełniona automatycznie jeżlei jest tworzona na podstawie zgłoszenia zagrożenia-->
 {include file='szablony/potencjalna_niezgodnosc_1.html'}
 {include file='szablony/potencjalna_niezgodnosc_2.html'}
 {include file='szablony/potencjalna_niezgodnosc_3.html'}
 {include file='szablony/potencjalna_niezgodnosc_4.html'}
    
	 
	 
	 </form>
</div>