<h2 class="accordion-header">Wykryta potencjalna niezgodność</h2>
   <div class="accordion-content">
    	<div class="ym-grid ">
				<div class="ym-g33 ym-gl">
					<div class="ym-gbox-left ym-fbox-text">
						<label for="data_zglosz">Data zgłoszenia </label>
                        <input id="data_zglosz"  name="niezgodnosc[data_zglosz]" value="{$niezgodnosc.data_zglosz}" type="text" size="25" />
					</div>
				</div>
                
				<div class="ym-g33 ym-gl">
					<div class="ym-gbox ym-fbox-text">
						<label for="id_pracownika">Zgłaszający</label>
                        <input id="id_pracownika" type="text" size="25" value="{$smarty.session.pracownik.imie_p} {$smarty.session.pracownik.nazwisko_p}" />
					</div>
                </div>
				
				<div class="ym-g33 ym-gr">
					<div class="ym-gbox-left ym-fbox-text">
						<label for="dok">Dokument nadrzędny</label>
						<input id="dok" type="text" size="25" name="niezgodnosc1[dok]" value="{$niezgodnosc1.dok}"></input>
					</div>
				</div>
       <hr />                  
				<div class="ym-gbox" ><br />
   							<label for="miejsce">Obszar wystąpienia niezgodności</label>
                            <select  id="miejsce"  name="niezgodnosc1[miejsce]"  size="1">
                                <option value="Instalacja">Instalacja</option>
                                <option value="Labolatorium">Labolatorium</option>
                                <option value="Warsztat">Warsztat</option>
                                <option value="Biuro">Biuro</option>
                                <option value="Inne">Inne</option>
                            </select>
                            {*  {if obszar=inne} *}
    							<input type="text" name="niezgodnosc1[miejsce]" id="miejsce" placeholder="Inne" value="{$niezgodnosc1.miejsce}" />
                     		{*  {/if} *}
  							<br />
     						<input type="text" id="miejsce2"  name="niezgodnosc1[miejsce2]" value="{$niezgodnosc1.miejsce2}" placeholder="Inne" />
                            <label for="id_zakladu">Zakład</label>
                            <select id="id_zakladu"  name="niezgodnosc1[id_zakladu]"  size="1">
                                <option value="Police">Police</option>
                                <option value="Kostrzyn">Kostrzyn</option>
                            </select>
                            
                            
                            <label for="odpowiedzialny">Odpowiedzialny za podjęcie działań:</label>
    						<select name="user[rola]" id="odpowiedzialny" size="1">
                                <optgroup label="Kierownicy komórek"> 
                                {*  {foreach} *}
                                <option value="{$user.rola}">Jan Kowalski - Kierownik parku maszynowego</option>
                                {*  {/foreach} *}
                                </optgroup>
    						</select>
                            
                            <label for="kryterium">Wymagane kryterium</label>
                            <textarea  id="kryterium"  name="niezgodnosc1[kryterium]" rows="5">{$niezgodnosc1.kryterium}</textarea>
                            
                            <label for="opis"> Opis potencjalnej niezgodności</label><textarea id="opis"  name="niezgodnosc1[opis]"  rows="7" >{$niezgodnosc1.opis}</textarea>
                            <label for="dowod"> Dowód stwierdzenia niezgodności </label><textarea id="dowod"  name="niezgodnosc1[dowod]" rows="7">{$niezgodnosc1.dowod}</textarea>
                             <div id="fine-uploader"></div>
    			 </div>
                
		</div>
    
     
     <hr />
     					<span style="float:right;"><button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button></span>
                <button type="submit" class="save ym-save ym-success" id="zgloszenie_pn">Zgłoś potencjalną niezgodność</button>
                <br />
     					<label for="country">Uwagi</label>
						<textarea id="message" rows="7"  name="niezgodnosc1[komentarz]"></textarea><hr />
                        {*  {foreach} *}
                        <p><strong> {$uwaga.czas} </strong><em>{$uwaga.osoba} </em> {$uwaga.tresc}</p>
                        <hr class="komentarz" />
                        {*  {/foreach} *}
    </div>  