
<form class="ym-form"><div class="blok">
  <p>Jeżeli chcesz nam zgłosić zagrożenie, odpowiedź na dwa proste pytania:</p>
      <div class="ym-fbox">
    		<span class="ym-label">Wybierz imię naszego Szefa:</span>
    			<div class="ym-fbox-wrap">
                    <div>
                    <input type="radio" name="vote" id="thomas" />
                    <label for="thomas">Thomas</label>
                    </div>
                    <div>
                    <input type="radio" name="vote" id="mathias" />
                    <label for="mathias">Mathias</label>
                    </div>
                    <div>
                    <input type="radio" name="vote" id="alex" />
                    <label for="alex">Alex</label>
                    </div>
    			</div>
                <hr />
                <span class="ym-label">Nasz surowiec to:</span>
    			<div class="ym-fbox-wrap">
                    <div>
                    <input type="radio" name="vote" id="kwarc" />
                    <label for="kwarc">Kwarc</label>
                    </div>
                    <div>
                    <input type="radio" name="vote" id="wegiel" />
                    <label for="wegiel">Węgiel</label>
                    </div>
                    <div>
                    <input type="radio" name="vote" id="dolomit" />
                    <label for="dolomit">Dolomit</label>
                    </div>
    			</div>
    	</div>
         <button type="submit" class="save ym-save ym-success" id="submit">Sprawdź</button>
         <p>Przepraszamy, udzieliłeś błędnej odpowiedzi. Chyba nie znasz naszej firmy na tyle by dokonać zgłoszenia. System przeznaczony jest dla pracowników i firm wspolpracujących.</p>
 <button type="submit" class="ym-button ym-warning ym-close"  id="reset">Powrót</button>
</div></form>
