 <form class="ym-form" action="{$request_url}" method="POST">
    			<label for="miejsce">Obszar wystąpienia niezgodności</label>
                           <select  id="miejsce"  name="niezgodnosc[id_wyst]"  size="1">
                <optgroup label="Police">
                   {foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 1}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wyst eq $row.id_wydzialu}selected{/if}>{$row.wydzial}</option>{/if}
                   {/foreach}
                </optgroup>
                <optgroup label="Kostrzyń">
                   {foreach from=$kierownicy item=row}
                    {if $row.id_zakladu eq 2}<option value="{$row.id_wydzialu}" {if $niezgodnosc.id_wyst eq $row.id_wydzialu}selected{/if}>{$row.wydzial}</option>{/if}
                   {/foreach}
                </optgroup>
            </select>
     				<br />
     			<label for="lokalizacja">Szczegółowa lokalizacja</label>
    			<textarea name="zagrozenie[lokalizacja]" id="lokalizacja" rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'op_lok_bar', 'op_lok_info');"  maxlength="5000" >{$zagrozenie.lokalizacja}</textarea><br />
    			<div id="op_lok_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            	<div id="op_lok_info" class="font11">Pozostało: 5000 znaków.</div>
                
                <label for="opis">Opis zagrożenia</label>
    			<textarea id="opis"  name="zagrozenie[opis]"  rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'op_bar', 'op_info');"  maxlength="5000">{$niezgodnosc.opis}</textarea>
            	<div id="op_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            	<div id="op_info" class="font11">Pozostało: 5000 znaków.</div><br />
<br />
				<label for="your-id1">Czy zagrożenie zostało wstępnie zabezpieczone</label>
					<a class="ym-button ym-save ym-success" href="">TAK</a>
					<a class="ym-button ym-delete ym-danger" href="">NIE</a>
   				
                <label for="zabezpieczenie">Sposób zabezpieczenia</label>
    			<textarea name="zagrozenie[zabezpieczenie]" id="zabezpieczenie" rows="7" onkeyup="licz_znaki('5000', $(this).attr('id'), 'op_zab_bar', 'op_zab_info');"  maxlength="5000">{$zagrozenie.zabezpieczenie}</textarea><br />
				<div id="op_zab_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            	<div id="op_zab_info" class="font11">Pozostało: 5000 znaków.</div>
                
                <label for="id_pracownika">Zgłaszający</label>
                    <input id="city" type="text" size="25" value="{$smarty.session.pracownik.imie_p} {$smarty.session.pracownik.nazwisko_p}">
     			<hr />

                     <button type="button" class="save ym-save ym-success" id="submitd" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/dosprawdzenia'">Zarejestruj i powiadom gospodarza</button>
			  			 <hr />
              

</form>