 <form class="ym-form" action="{$request_url}" method="POST">  
           <div class="ym-grid">
					<div class="ym-g50 ym-gl">
						<div class="ym-gbox-left ym-fbox-text">
							<label for="zgloszenie_nr">Numer dokumentu</label><br />
							{$zagrozenie.id}
						</div>
                    </div>
                    <div class="ym-g50 ym-gr">
                        <div class="ym-gbox ym-fbox-text">
                            <label for="zgloszenie_status">Status</label><br />
                            {$zagrozenie.status}
                        </div>
                    </div>
                    <!--<div class="ym-g33 ym-gr">
                        <div class="ym-gbox-left ym-fbox-text">
                            <label for="zgloszenie_termin">Termin realizacji</label>
                            <input id="zgloszenie_termin" type="text" size="25" name="zagrozenie[termin]">{$zagrozenie.czas}</input>
                        </div>
                    </div>-->
           </div>
           
           <form id="akceptacja" class="ym-form">
                        {if $smarty.session.pracownik.rola eq 'kierownik' or $smarty.session.pracownik.rola eq 'kierownik' and $niezgodnosc.id_stanu eq 30}<button type="button" class="save ym-save ym-success" id="submitd" onclick="location.href = '/sprawa/akcja/{$niezgodnosc.id_sprawy}/dosprawdzenia'">Zarejestruj i powiadom gospodarza</button>{/if}
			  			 <hr />
               </form>
           
           <div class="ym-grid">
					<label for="message">Wiadomość/komentarz dla zgłaszającego </label><br />
   					 <textarea name="message" id="your-id" rows="7" cols="175" onkeyup="licz_znaki('5000', $(this).attr('id'), 'mes_bar', 'mes_info');" placeholder="Wprowadź wiadomość"  maxlength="5000"></textarea>
            		<div id="mes_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
            		<div id="mes_info" class="font11">Pozostało: 5000 znaków.</div>
             		<button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj/{$niezgodnosc.id_sprawy}/{$niezgodnosc.id_stanu}', 'komentarze2', $('#komentarz2').val());$('#komentarz2').val('');">Dodaj wiadomość/komentarz</button>
           </div>
</form>