<link rel="stylesheet" type="text/css"  href="/assets/css/fineuploader-3.8.2.min.css" />
<script src="/assets/js/jquery.fineuploader-3.8.2.min.js"></script>
<style>
    .qq-upload-button {
        width: 200px;
    }    
</style>
<script src="/assets/js/ui/jquery.ui.datepicker.min.js"></script>
<script src="/assets/js/ui/jquery.ui.datepicker-pl.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/redmond/datepicker.custom.css" />
<script>
    $(function() {
        $("#accordion").accordion({
            heightStyle: "content",
            collapsible: true,
            active: {$active|default:0}
        });
    });
</script>

<div id="accordion">
	<h3>Nowe zgłoszenie zagrożenia </h3>
    <div>{include file='szablony/zagrozenie_new_1.html'}</div>
    <h3>Potwierdzenie przyjęcia do realizacji </h3>
	<div>{include file='szablony/zagrozenie_new_2.html'}</div>
</div>


  


