<h3>Ocena skuteczności wykonanych działań <span style="float:right;"><button type="submit" class="edycja ym-button ym-xsmall ym-edit" id="submit">Edytuj</button></span></h3>
		<div>
			<div class="ym-grid">
	 				<div class="ym-g75 ym-gl">
          				<div class="ym-gbox-left ym-fbox-text" >
						<label for="uwangi">Uwagi/Komentarze</label>
      				<textarea id="uwangi" rows="7"  name="Uwagi">{$zagrozenie4.komentarz}</textarea>				
		  				</div>
                     </div>
                      <div class="ym-g25 ym-gr">
    						<div class="ym-fbox-wrap" >
                                    <span class="ym-label"> Ocena: </span><br />
    								<input type="radio" name="ocena[skuteczne]"  id="your-id1"value="{$ocena.skuteczne}" />
    								<label for="your-id1">Skuteczne</label><br />
    								<input type="radio" name="ocena[cz_skuteczne]" id="your-id2"value="{$ocena.skuteczne_cz}" />
    								<label for="your-id2">Częściowo skuteczne</label><br />
    								<input type="radio" name="ocena[n_skuteczne]" id="your-id2" value="{$ocena.n_skuteczne}" />
    								<label for="your-id2">Nie skuteczne</label><br />
    						<button type="submit" class="save ym-save ym-success" id="submit">Zapisz</button>
                            </div>
     					</div>

	  			</div>
	 		 </div>