
<!-- ta sekcja może zostać wypełniona automatycznie jeżlei jest tworzona na podstawie zgłoszenia zagrożenia-->
<form class="ym-form" action="{$request_url}" method="POST">
              
    <div class="ym-gbox" >
 <div class="ym-g50 ym-gl">

        <label for="data_zglosz">Data zgłoszenia </label>
        <input id="data_zglosz"  name="niezgodnosc[data_zgloszenia]" value="{$niezgodnosc.data_zgloszenia}" type="text" size="25"  style="width:20%"/>
 </div>
 <div class="ym-g50 ym-gl">
        <label for="id_pracownika">Zgłaszający</label>
        <input id="id_pracownika" readonly="readonly" type="text" size="25" value="{$smarty.session.pracownik.imie_p} {$smarty.session.pracownik.nazwisko_p}" style="width:20%"/>
     </div>   
       <!-- <label for="dok_nad">Dokument nadrzędny</label>
        <input id="dok_nad" type="text" size="25" name="niezgodnosc[dok_nad]"/>-->

    <br />
    <label>Dział w którym wystąpiła niezgodność</label>
    <select  id="miejsce"  name="niezgodnosc[id_obszaru]"  size="1">
        <option value="2">Instalacja</option>
        <option value="3">Labolatorium</option>
        <option value="4">Warsztat</option>
        <option value="5">Biuro</option>
        <option value="1">Inne</option>
    </select>
    <br />
    <label for="id_oddzialu">Zakład</label>
    <select id="id_zakladu"  name="niezgodnosc[id_oddzialu]"  size="1">
        <option value="1">Police</option>
        <option value="2">Kostrzyn</option>
    </select>


    <label for="your-id">Odpowiedzialny za podjęcie działań:</label>
    <select name="niezgodnosc[id_wydzialu]" id="your-id" size="1">
        <optgroup label="Kierownicy komórek">
            <option value="1">Adam Nowak - Kierownik Nadzory technicznego</option>
              <option value="2">Jan Kowalski - Kierownik parku maszynowego</option>
            <option value="3">Paweł Kowalski - Kierownik działu remonotowo - budowlanego</option>
        </optgroup>
    </select>

    <label for="kryterium">Wymagane kryterium</label>
    <textarea  id="kryterium"  name="niezgodnosc[kryterium]" rows="5" onkeyup="licz_znaki('5000',$(this).attr('id'),'kr_bar','kr_info');" title="Wprowadź kryterium" maxlength="5000">{$niezgodnosc.kryterium}</textarea>
    <div id="kr_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
    <div id="kr_info" class="font11">Pozostało: 5000 znaków.</div>
    

    <label for="opis"> Opis niezgodności</label><textarea id="opis"  name="niezgodnosc[opis]"  rows="7" onkeyup="licz_znaki('5000',$(this).attr('id'),'op_bar','op_info');" title="Wprowadź dowód" maxlength="5000">{$niezgodnosc.opis}</textarea>
    <div id="op_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
    <div id="op_info" class="font11">Pozostało: 5000 znaków.</div>
    
    <label for="dowod"> Dowód stwierdzenia niezgodności </label><textarea id="dowod"  name="niezgodnosc[dowod]" rows="7" onkeyup="licz_znaki('5000',$(this).attr('id'),'dow_bar','dow_info');" title="Wprowadź dowód" maxlength="5000">{$niezgodnosc.dowod}</textarea>
    <div id="dow_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
    <div id="dow_info" class="font11">Pozostało: 5000 znaków.</div><br>
    {if $niezgodnosc.id_stanu}
    {foreach from=$pliki1 item=plik}
    <a href="/pliki/{$plik.katalog}/{$plik.plik}">{$plik.plik}</a><br>
    {/foreach}
    {else}
    <div id="fine-uploader"></div>
    {/if}
    <hr/>
    <label>Komentarze</label>
    <div id="komentarze">{$komentarze1}</div>
    <textarea id="komentarz"  name="komentarz" rows="4"  onkeyup="licz_znaki('5000',$(this).attr('id'),'tre_bar','tre_info');" title="Wprowadź komentarz" maxlength="5000"></textarea>
    <div id="kom_bar" style="height: 3px; width: 0px; background-color: rgb(238, 0, 0);"></div>
    <div id="kom_info" class="font11">Pozostało: 5000 znaków.</div>
    <button type="button"  id="add_koment"  class="ym-button ym-add" onclick="wykonaj('/komentarze/dodaj','komentarze',$('#komentarz').val());$('#komentarz').val('');">Dodaj komentarz</button>
    </div>

<hr />
<!--<span style="float:right;"><button type="submit" class="save ym-sign ym-primary" id="submit"  name="submit" >Zapisz</button></span>-->
 {if $niezgodnosc}
 <button type="button" class="save ym-save ym-primary" id="submit" name="przyjmij" onclick="location.href='/sprawa/akcja/{$niezgodnosc.id_sprawy}/przyjmij'">Przyjmij zgłoszenie</button>
 <button type="button" class="save ym-close ym-danger" id="submit2" name="odrzuc" onclick="location.href='/sprawa/akcja/{$niezgodnosc.id_sprawy}/odrzuc'">Odrzuć zgłoszenie</button>
  
 {else if !$niezgodnosc}
<button type="submit" class="save ym-save ym-success" id="submit">Zgłoś niezgodność</button>
{/if}
<br />
<!--
<label for="country">Uwagi</label>
<textarea id="message" rows="7"  name="Uwagi"></textarea><hr />
<p><strong> 12.05.2013 </strong><em>Jan Nowak </em> Zatwierdzenie z zastrzeżeniem..... </p>
-->

</form>